
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    <link rel="stylesheet" href="@Url.Content("~/Vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Vendor/bower_components/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Vendor/bower_components/Ionicons/css/ionicons.min.css")">
  
    

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="@Url.Content("~/Vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Vendor/dist/css/AdminLTE.min.css")">
    <style>
        @@media screen and (min-width: 180px) {
            .classname {
                padding-top: 20px !important;
                padding-left: 40px !important;
                padding-right: 20px !important;
            }
        }
    </style>
    <style>
        @@media screen and (min-width: 180px) {
            .classname1 {
                padding-top: 20px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }
    </style>
    <style>
    

    .form-content {
    background-color: #ffffff;
    }
    ::placeholder {
    color: #ffffff !important;
    opacity: 1; /* Firefox */
    font-family:roboto;
    font-weight:100;

    }
    .form-content .form-items {max-width:100% !important;
    }
    .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #fb9f1e;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    }



    .form-content input, .form-content .dropdown-toggle.btn-default {
    border: 0;
    background-color: #fff0;
    color: #8D8D8D;
    border: 1px solid #ffffff;
    }
        .input-group .input-group-addon {
            border-radius: 0;
            border-color: #d2d6de;
            background-color: #0680d4;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid white;
            color: white;
            border-right: 0px solid red !important;
        }

        .input-group .form-control, .input-group-addon, .input-group-btn {
            height: 40px;
            display: table-cell;
          
        }
    .form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
    border: 0;
    background-color: #ebeff800;
    color: #8D8D8D;
    border: 1px solid #c59504;
    }

    
    .form-holder{margin-left: 0px;}
    .form-content {
    background-color: #ffffff00;
    }
    .form-holder .form-content {padding:40px 70px 18px 70px
    }

    </style>

</head>
<body>

   
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 classname" style="padding: 10px 70px 0px 70px; background: linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0.51) ),
          url(https://www.kevinmd.com/blog/wp-content/uploads/shutterstock_209942605-3.jpg); background-repeat: no-repeat; background-size: cover; ">
            <div class="">
                <img src="@Url.Content("~/Vendor/dist/images/keystone-logo.png")" style="width:200px"><br>
                <p style=" font-size: 12.6px; font-family: roboto; color: #00a2d9;">HOSPITAL MANAGEMENT SYSTEM</p>
            </div>
            <div class="">
                <div class="">

                </div>
                <div class="info-holder">
                </div>
                <div style="padding-top:10px;text-align:left;padding-bottom:30px">
                    <h1 class="" style="font-size: 34px; font-weight: 500; padding-top: 32px; line-height: 45px; color: #0098ce; font-family: roboto;padding-bottom:30px ">
                        World's first cloud-based, automated platform for Hopsital Management
                    </h1>
                    <span style="color: #00a6e0; font-family: roboto; font-size: 17px; font-weight: 500; margin-top: 30px">
                        Get started in 60 seconds
                        The right choice for smart people to get things done effortlessly!
                    </span><br /><br />
                    <span style="color: #00a6e0; font-family: roboto; font-size: 17px; font-weight: 500; margin-top: 30px">56,000+ companies use Keystone to collaborate and manage projects everyday.</span>
                </div>
                <div style="padding-top:6px;text-align:left">
                    <ul style="list-style-type: none;
    text-align: -webkit-auto;line-height:28px;padding-inline-start: 0px;padding-bottom:0px">
                        <li style="color: #00a6e0"><span class="fa fa-check-square-o" style="padding-right: 10px;"></span><span style="font-family: Roboto;font-weight:500;font-size:15px">Free, with all features</span></li>
                        <li style="color: #00a6e0"><span class="fa fa-check-square-o" style="padding-right: 10px;"></span><span style="font-family: Roboto;font-weight:500;font-size:15px">FreeUnlimited Tasks</span></li>
                        <li style="color: #00a6e0"><span class="fa fa-check-square-o" style="padding-right: 10px;"></span><span style="font-family: Roboto;font-weight:500;font-size:15px">Free3 Projects, 3 Users</span></li>
                        <li style="color: #00a6e0"><span class="fa fa-check-square-o" style="padding-right: 10px;"></span><span style="font-family: Roboto;font-weight:500;font-size:15px">FreeAll Features included</span></li>
                        <li style="color: #00a6e0"><span class="fa fa-check-square-o" style="padding-right: 10px;"></span><span style="font-family: Roboto;font-weight:500;font-size:15px">FreeRegular Product updates and upgrades</span></li>
                        <li style="color: #00a6e0"><span class="fa fa-check-square-o" style="padding-right: 10px;"></span><span style="font-family: Roboto;font-weight:500;font-size:15px">FreeNo Installation hassles and management woes</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background: #52a6e0;">
            <div class="form-holder">
                <div class="form-content classname1">
                    <div class="form-items">
                        <h3 style="font-family: roboto; font-weight: 500; color: #ffffff">Get more things done with Login platform.</h3>
                        <p style="font-family: roboto; font-size: 16px; color: #ffffff">One Keystone Account for Everything<p>
                            <div style=" background: #52a6e0; border: 1px solid #f9f9f9; padding: 40px; border-radius: 5px; box-shadow: 10px 10px 10px 10px #5d4949; box-shadow: 0 0 25px -10px #564328;margin-top:30px">
                                <h3 style=" color:#ffffff;
            font-size:19px;
            font-family:roboto;
            font-weight:500;">
                                    Sign-up
                                </h3>
                                <h4 style="padding:1px;width:30px;background:#ffffff"></h4>
                                <br />

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input id="email" type="text" class="form-control" name="User Name" placeholder="User Name">
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px">

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                            <input id="email" type="text" class="form-control" name="Email Id" placeholder="Email Id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px">

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                            <input id="email" type="text" class="form-control" name="Mobile No." placeholder="Mobile No.">
                                        </div>



                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px">


                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                            <input id="email" type="text" class="form-control" name="Company Name" placeholder="Company Name">
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 30px">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                            <input id="email" type="text" class="form-control" name="Company URL" placeholder="Company Name">
                                        </div>


                                    </div>
                                </div>

                                <div class="form-button">
                                    <button id="submit" type="submit" class="ibtn" style="font-family: roboto; font-weight: 500; background: #0680d4; color: #ffffff; padding: 10px 30px 10px 30px; border-radius: 5px; border: 1px solid white; box-shadow: 0 0 18px 0 rgba(0,0,0,.18);">Start Free Trail</button><a style="font-family:roboto;font-weight:500;color:#ffffff">  Already have an account? Sign in.</a>
                                </div>

                            </div>
                        <p style="font-family:roboto;line-height:20px;margin-bottom:10px;font-size:15px;color:#ffffff;padding-top:10px"> No credit card required.</p>






                        <br />

                        <div class="row" style="padding-top:40px;padding-bottom:10px">
                            <div class="pull-left col-lg-5 col-md-12 col-sm-12 col-xs-12">

                                <a style="font-family:roboto;line-height:20px;margin-bottom:10px;font-size:14px;color:#ffffff;padding-right:70px;">
                                    Terms of Service & Privacy Policy
                                </a>
                            </div>
                            <div class="pull-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <a style="font-family:roboto;line-height:20px;margin-bottom:10px;font-size:14px;color:#ffffff">
                                    About Us
                                </a>

                            </div>
                            <div class="pull-right col-lg-4 col-md-12 col-sm-12 col-xs-12" align="right">
                                <i class="fa fa-facebook" style="border: 1px solid #ffffff; border-radius: 25px; padding: 4px; color: #ffffff; height: 25px; width: 25px; padding-right: 8px; padding-top: 4px;"></i>
                                <i class="fa fa-twitter" style="border: 1px solid #ffffff; border-radius: 25px; padding: 4px; color: #ffffff; "></i>
                                <i class="fa fa-linkedin" style="border: 1px solid #ffffff; border-radius: 25px; padding: 4px; color: #ffffff; "></i>
                                <i class="fa fa-instagram" style="border: 1px solid #ffffff; border-radius: 25px; padding: 4px; color: #ffffff; "></i>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
