@model KeystoneProject.Models.Master.MedicineLibrary
@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--This file is edited by Mohammed-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
        window.onload(true);
        Restor();
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        //  var table = $('#deptID').DataTable();
        $('#medicinesLibraryTableId tbody').on('click', 'td', function () {
            debugger;
            // alert('hello');
            var row_num = parseInt($(this).parent().index());
            var MedicineLibraryID = parseInt(document.getElementById("medicinesLibraryTableId").tBodies[0].rows[row_num].cells[11].innerHTML);
            $.ajax({
                type: "GET",
                url: '@Url.Action("EditMedicineLibrary", "MedicineType")',
                data: { id: MedicineLibraryID },
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, obd) {
                        //alert(obd.DepartmentName);
                        $("#MedicineTypeID").val(obd.MedicineLibraryID);
                        $("#MedicineTypeName").val(obd.MedicineTypeName);
                    });
                },
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#medicinesLibraryTableId').delegate('td', 'click', function () {
            var row_num = parseInt($(this).parent().index());
            debugger
            $("#save").html("<i class='fa fa-save'></i>Update");
            var MedicineLibraryID = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[11].innerHTML;
            var Type = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[1].innerHTML;
            var Medicines = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[2].innerHTML;
            var Unit = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[3].innerHTML;
            var Time = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[4].innerHTML;
            var Instruction = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[5].innerHTML;
            var Frequency = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[6].innerHTML.trim();
            var Quantity = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[7].innerHTML;
            var CompName = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[8].innerHTML;
            var Strength = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[9].innerHTML;
            var Days = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[10].innerHTML;
            var txtdeteils = document.getElementById('medicinesLibraryTableId').tBodies[0].rows[row_num].cells[12].innerHTML;
            //var array = Frequency.split('-');
            //a = array[0], b = array[1], c = array[2], d = array[3];
            $('#Frequency1').val(Frequency);
            //$('#Frequency2').val(b);
            //$('#Frequency3').val(c);
            //$('#Frequency4').val(d);
            $('#Type').val(Type);
            $('#Medicines').val(Medicines);
            $('#Unit').val(Unit);
            $('#Time').val(Time);
            $('#Instruction').val(Instruction);
            $('#Quantity').val(Quantity);
            $('#CompositionName').val(CompName);
            $('#Strength').val(Strength);
            $('#Days').val(Days);
            $('#MedicineLibraryID').val(MedicineLibraryID);
            var add = txtdeteils.split(',');
            $("#Add").html('');
            for (var i = 0; i < add.length; i++) {
                $("#Add").append("<input type='text' value='" +add[i]+ "' name='txtdeteils' id='txtdeteils' >");
            }
          

            //$('#txtdeteils').val(txtdeteils);

        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            //  contentType: "application/json; charset=utf-8",
            url: '@Url.Action("ShowMedicineLibrary", "MedicineLibrary")',
            //data: "{}",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                        var SrNo = i + 1;
                        $("#medicinesLibraryTableId").append('<tr><td>' + SrNo + '</td><td>' + data[i].Type + '</td><td>' + data[i].Medicines + '</td>  <td>' + data[i].Unit + '</td>  <td>' + data[i].Time + '</td>  <td>' + data[i].Instruction + '</td> <td>' + data[i].Frequency + '</td> <td>' + data[i].Quantity + '</td> <td>' + data[i].CompositionName + '</td> <td>' + data[i].Strength + '</td> <td>' + data[i].Days + '</td><td style="display:none">' + data[i].MedicineLibraryID + '</td><td style="display:none">' + data[i].txtdeteils + '</td></tr>');
                };
                $('#medicinesLibraryTableId').DataTable({
                    "fixedHeader": true,
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "responsive": false,
                });
                var buttons = new $.fn.dataTable.Buttons($('#medicinesLibraryTableId').DataTable(), {
                    buttons: [
                        {
                            extend: 'excel',
                            text: '<li class="fa fa-file-excel-o fa-lg" style="font-weight: 600;"></li><br>Excel'
                        }
                    ]
                }).container().appendTo($('#medicinesExcelExport'));
            },
            error: function (result) {
                alert("Error grd bind");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Packages').autocomplete({
            source: function (request, responce) {
                $.ajax({
                    url: '@Url.Action("GetPackages", "MedicineLibrary")',
                    type: "Post",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        responce($.map(data, function (item) {
                            debugger
                            return { label: item.packagename, value: item.packagename, id: item.PackagesID }
                        }));
                    }
                })
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Medicines').autocomplete({
            source: function (request, responce) {
                debugger
                $.ajax({
                    url: '@Url.Action("GetMedicines", "MedicineLibrary")',
                    type: "Post",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        responce($.map(data, function (item) {
                            return { label: item.DrugName, value: item.DrugName, id: item.DrugID }
                        }));
                    }
                })
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Type').autocomplete({
            source: function (request, responce) {
                debugger
                $.ajax({
                    url: '@Url.Action("GetMedicineType", "MedicineLibrary")',
                    type: "Post",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        responce($.map(data, function (item) {
                            return { label: item.MedicineTypeName, value: item.MedicineTypeName, id: item.MedicineTypeID }
                        }));
                    }
                })
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Unit').autocomplete({
            source: function (request, responce) {
                debugger
                $.ajax({
                    url: '@Url.Action("GetUnit", "MedicineLibrary")',
                    type: "Post",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        responce($.map(data, function (item) {
                            return { label: item.UnitName, value: item.UnitName, id: item.UnitID }
                        }));
                    }
                })
            }
        });
        
       

    });
</script>
<script>
    $(document).ready(function () {
        $("#Frequency1").change(function () {
            debugger
            var add = $(this).val().split('-');
            $("#Add").html('');
            for(var i=0;i<add.length;i++)
            {
                $("#Add").append("<input type='text' name='txtdeteils' id='txtdeteils' >");
            }
        })
        $("#Delete").click(function () {
            debugger;

            var ans = confirm("Are you sure you want to Delete this Record ?");
            if (ans) {
                $.ajax({
                    type: "POST",
                    //url: "/Department/DeleteDepartment?DepartmentID=" + DepartmentID,
                    url: '@Url.Action("DeleteMedicineLibrary", "MedicineLibrary")',
                    data: { MedicineLibraryID: $("#MedicineLibraryID").val() },
                    dataType: "json",
                    success: function (data) {
                        if (data == "Medicine Library Deleted Successfully !") {
                            alert("Medicine Library Deleted Successfully !");
                            window.location.reload(true);
                        }
                        else {
                            alert(data);
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        });
    });
</script>

<script>
    $(document).ready(function () {

        $('save').submit(function () {
        debugger;

    })
 })
</script>
<!-- ico font -->
@*</head>*@
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <form action="" method="post">
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>Medicine Master</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Action("PatientMaster", "Application")">Master</a></li>
                                    <li class="breadcrumb-item active">Medicine</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">Medicine Details</h2>
                                    <div class="card-body pane-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Medicine Type-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Type</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Type" name="Type" class="form-control" placeholder="Medicine Type">
                                                        <input type="hidden" name="MedicineLibraryID" id="MedicineLibraryID" class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <!--Medicine Name-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Med.</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Medicines" name="Medicines" class="form-control" placeholder="Medicine Name">
                                                    </div>
                                                </div>
                                                <!--Unit-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label>Unit</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                        <input type="text" id="Unit" name="Unit" class="form-control" placeholder="Unit">
                                                    </div>
                                                </div>
                                                <!--Time-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label>Time</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                        <input type="text" id="Time" name="Time" class="form-control" placeholder="Time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Instruction-->
                                                <div class="form-group col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Inst.</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Instruction" name="Instruction" class="form-control" placeholder="Instruction">
                                                    </div>
                                                </div>
                                                <!--Quantity-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Qty</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Quantity" name="Quantity" class="form-control" placeholder="Quantity">
                                                    </div>
                                                </div>
                                                <!--Strength-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Str.</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Strength" name="Strength" class="form-control" placeholder="Strength">
                                                    </div>
                                                </div>
                                                <!--Days-->
                                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Days</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Days" name="Days" class="form-control" placeholder="Days">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Composition-->
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Compt.</label>
                                                    </div>
                                                    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12">
                                                        <textarea id="CompositionName" name="CompositionName" class="form-control" placeholder="Composition"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-groupcol-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                    <!--Frequency-->
                                                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Freq.</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" id="Frequency1" name="Frequency1" class="form-control" placeholder="0-0-0-0">
                                                    </div>
                                                    <div id="Add" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                    
                                                    </div>
                                                    @*<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                        <input type="text" id="Frequency2" name="Frequency2" class="form-control" placeholder="Afternoon">
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                        <input type="text" id="Frequency3" name="Frequency3" class="form-control" placeholder="Evening">
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                        <input type="text" id="Frequency4" name="Frequency4" class="form-control" placeholder="Extra">
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                                <div class="btn-group dropdown-split-warning">
                                    <button type="submit" class="btn btn-app" id="save">
                                        <i class="fa fa-save"></i>Save
                                    </button>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="Delete">

                                        <i class="fa fa-trash"></i>Delete
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="location.reload();">
                                        <i class="fa fa-refresh"></i>Clear
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="window.location.href='@Url.Action("PatientMaster", "Application")'">
                                        <i class="fa fa-sign-out"></i>Exit
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="medicinesExcelExport"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <table id="medicinesLibraryTableId" class="table table-bordered hover display dataTable table-hover" role="grid" aria-describedby="example1_info"
                                       style="width: 100%">
                                    <thead style="background-color: #bddff7;">
                                        <tr>
                                            <th scope="col">Sr. no.</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Medicines</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Instruction</th>
                                            <th scope="col">Frequency</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Composition</th>
                                            <th scope="col">Strength</th>
                                            <th scope="col">Days</th>                                           
                                            <th style="display:none">Medicine Library ID</th>
                                            <th style="display:none">Discription</th>
                                        </tr>
                                    </thead>
                                    <tbody class="scrollbar"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>