@model KeystoneProject.Models.Keystone.State
@{
    ViewBag.Title = "HospitalCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--This file is edited by Mohammed-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
@*<style>

        input[type=file] {
            display: block;
            background: #ffffff;
            padding: 0px 2px 0px 0px;
            color: #868f95 !important;
            font-family: roboto;
        }
        .btn-group {
            margin-bottom: 4px;
        }
        .btn {
            padding: 0px;
        }
        .padding0 {
            padding: 0px;
        }
        .btndivcss:hover {
            color: #fff;
            background-color: #03578e;
            border-color: #106dca;
        }
        .btndivcss {
            height: 30px;
            border: 0px solid white;
            padding: 0px 6px 0px 0px !important;
            font-family: roboto;
            border-color: #35a4f1;
            box-shadow: 0 1px 1px rgba(0,0,0,.075);
            color: #ffffff;
            background-color: #35a4f1;
            border-radius: 4px;
        }
        .buttoniconcss {
            background: #106dca;
            padding: 8px;
            border-radius: 4px 0px 0px 4px;
            margin-right: 5px;
        }
        .scrollbar::-webkit-scrollbar {
            width: 6px;
        }
        .scrollbar::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        .scrollbar::-webkit-scrollbar-thumb {
            background: #35a4f1;
            border-radius: 23px;
        }
            .scrollbar::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        .btn-group {
            padding-right: 4px;
        }
        .topheadline {
            background: white;
            padding: 3px;
            color: #1e2123;
            box-shadow: 1px 1px 11px 1px #cecece;
            font-family: roboto;
            padding-left: 12px;
            font-size: 19px;
            margin-top: 0px;
        }
        .panelheading {
            background: rgb(189, 223, 247);
            color: #22292d;
            font-family: roboto;
            font-size: 15px;
            padding: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .panel-primary {
            border: 1px solid #dadada;
            border-radius: 4px;
            box-shadow: 1px 1px 11px 1px #eae4e4;
            background: #ffffff;
        }
        .content-wrapper {
            background: #F6F7FB !important;
        }
        span {
            font-family: roboto;
            font-size: 14px;
        }
        .rowmargintop {
            margin-top: 5px;
        }
        .form-control {
            height: 26px;
            padding: 1px 1px 1px 6px;
        }
        .rowmarginbottom {
            margin-bottom: 4px;
        }
        .btn-warning {
            color: #ffffff;
            background-color: #35a4f1;
            border-color: #35a4f1;
            box-shadow: 0 1px 1px rgba(0,0,0,.075);
            font-family: roboto;
        }
        .btn-primary {
            background-color: #35a4f1 !important;
            color: #fff;
            border: 1px solid #35a4f1;
        }
        .file-field input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
        }
    </style>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["Msg"])));
        window.onload(true);
    </script>
}
<script>
    function Delete(StateID) {
        debugger
        if (StateID != "" && $("#StateName").val() != "") {
            var ans = confirm("Are you sure you want to Delete this Record ?");
            if (ans) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteState", "State")',
                    data: { StateID: StateID },
                    dataType: "json",
                    success: function (data) {
                        if (data == "State Deleted Successfully !") {
                            alert("State Deleted Successfully !");
                            window.location.reload(true);
                            Restore();
                        }
                        else {
                            alert(data);
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }
    }
</script>
<script>

    $(document).ready(function () {
        $("#CountryName").autocomplete({
            source: function (request, response) {
                $.ajax({
                  
                    url: '@Url.Action("GetCountryRecord", "State")',
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.CountryName, value: item.CountryName, id: item.CountryID
                            };
                        }))
                    }
                })
            },
            minLength: 1,
            change: function (event, ui) {
                if (!ui.item) {
                    this.value = "";
                }
            },
            select: function (event, i) {
                $('#CountryID').val(i.item.id);
            },
        });
    })
    $(document).ready(function () {
        @*$("#CountryName").autocomplete
            ({
                source: function (request, response) {
                    $.ajax
                        ({
                            url: '@Url.Action("GetCountryRecord", "State")',
                            type: "POST",
                            dataType: "json",
                            data: { prefix: request.term },
                            success: function (data) {
                                debugger;
                                response($.map(data, function (item) {
                                    return {
                                        label: item.CountryName, value: item.CountryName, id: item.CountryID
                                    };
                                }))
                            }
                        })
                },
                minLength: 1,
                change: function (event, i) {
                    if (!i.item) {
                        this.value = "";
                    }
                },
                select: function (event, i) {
                    $('#CountryID').val(i.item.id);
                    alert($('#CountryID').val());
                    $('#StateID').val(i.item.StateID);
                    $('#CountryName').val(i.item.CountryName);
                },
            });*@
        $.ajax
            ({
                type: "POST",
                url: '@Url.Action("DatatableBind", "State")',
                dataType: "json",
                success: function (result) {
                    var Srno = 1;
                    $.each(result, function (i, obj) {
                        $("#stateTableId").append('<tr><td>' + Srno + '</td><td style="display:none">' + obj.StateID + '</td><td>' + obj.StateName + '</td><td style="display:none">' + obj.CountryName + '</td><td style="display:none">' + obj.CountryID + '</td></tr>')
                        Srno++;
                    });
                    $('#stateTableId').DataTable({
                        "fixedHeader": true,
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true,
                        "responsive": false,
                    });
                    var buttons = new $.fn.dataTable.Buttons($('#stateTableId').DataTable(), {
                        buttons: [
                            {
                                extend: 'excel',
                                text: '<li class="fa fa-file-excel-o fa-lg" style="font-weight: 600;"></li><br>Excel'
                            }
                        ]
                    }).container().appendTo($('#stateExcelExport'));
                },
                error: function () {
                }
            });
        $(document).ready(function () {
            $("#stateTableId").delegate('td', 'click', function () {
                debugger;
                Restore();
                $("#save").html("<i class='fa fa-save'></i>Update");
                var row_num = parseInt($(this).parent().index());
                var StateID = parseInt(document.getElementById("stateTableId").tBodies[0].rows[row_num].cells[1].innerHTML);
                var StateName = document.getElementById("stateTableId").tBodies[0].rows[row_num].cells[2].innerHTML;
                var ReferenceCode = document.getElementById("stateTableId").tBodies[0].rows[row_num].cells[3].innerHTML;
                var CountryName = document.getElementById("stateTableId").tBodies[0].rows[row_num].cells[4].innerHTML;
                //var ReferenceCode = document.getElementById("stateTableId").tBodies[0].rows[row_num].cells[5].innerHTML;
                $("#StateID").val(StateID);
                $("#StateName").val(StateName);
                $("#ReferenceCode").val(ReferenceCode);
                $("#CountryName").val(CountryName);
                // $("#Reference_Code").val(ReferenceCode);
                $.ajax
                    ({
                        type: "GET",
                        url: '@Url.Action("Fill", "State")',
                        data: { StateID: StateID },
                        success: function (result) {
                            $.each(result, function (i, obj) {
                                $("#StateID").val(StateID);
                                $("#StateName").val(obj.StateName);
                                $("#CountryName").val(obj.CountryName);
                                $("#CountryID").val(obj.CountryID);
                                $("#ReferenceCode").val(obj.ReferenceCode);
                            });
                        }
                    })
            });
        });
    });
    function Restore() {
        $("#StateID").val("");
        $("#StateName").val("");
        $("#CountryName").val("");
        //$("#Reference_Code").val(obj.ReferenceCode);
        $("#ReferenceCode").val("");
    }
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            type: 'post',
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <form action="" method="post">
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>State Creation Master</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Action("PatientMaster", "Application")">Master</a></li>
                                    <li class="breadcrumb-item active">State Creation</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">State Details</h2>
                                    <div class="card-body panel-body">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                <label>State Name</label>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" id="StateName" name="StateName" required
                                                       style="border-left-color: red;border-left-width: thick;"
                                                       oninvalid="this.setCustomValidity('Please Enter State Name')"
                                                       oninput="this.setCustomValidity('')">
                                                <input type="hidden" id="StateID" name="StateID">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                <label>Reference Code</label>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" id="ReferenceCode" name="ReferenceCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="panel-primary">
                                    <h2 class="panelheading">Country Details</h2>
                                    <div class="card-body panel-body">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                <label>Country Name</label>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" id="CountryName" name="CountryName" placeholder="Search Country Name">
                                                <input type="hidden" id="CountryID" name="CountryID">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: center; display: block;">
                                <div class="btn-group dropdown-split-warning">
                                    <button type="submit" class="btn btn-app" id="save">
                                        <i class="fa fa-save"></i>Save
                                    </button>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="Delete" onclick="Delete(document.getElementById('StateID').value)">
                                        <i class="fa fa-trash"></i>Delete
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="location.reload();">
                                        <i class="fa fa-refresh"></i>Clear
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="window.location.href='@Url.Action("PatientMaster", "Application")'">
                                        <i class="fa fa-sign-out"></i>Exit
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="stateExcelExport"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 margin-r-5" style=" padding-bottom: 10px;overflow:auto">
                                <table id="stateTableId" class="table table-bordered hover display dataTable table-hover" role="grid" aria-describedby="example1_info"
                                       style="width: 100%">
                                    <thead style="background-color: #bddff7;">
                                        <tr>
                                            <th scope="col">Srno.</th>
                                            <th style="display:none">StateID</th>
                                            <th scope="col">State Name</th>
                                            @*<th style="display:none">ReferenceCode</th>*@
                                            <th style="display:none">CountryName</th>
                                            <th style="display:none">CountryID</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody class="scrollbar"></tbody>
                                </table>
                            </div>>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@