@model KeystoneProject.Models.MasterLaboratory.Header
@{
    ViewBag.Title = "MasterLaboratory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--This file is edited by Mohammed-->
@*<!DOCTYPE html>
    <html>
    <head>*@
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script type="text/javascript">
    $(document).ready(function () {
        data();
    });
    function data() {
        debugger
        $.ajax({
            type: "POST",
            url: '@Url.Action("ShowHeader", "Header")',
            dataType: "json",
            success: function (data) {
                var table = "";
                debugger
                var tr = "";
                //$("#headerDetailTableId tbody tr").remove();
                for (var i = 0; i < data.length; i++) {
                    var SrNo = i + 1;
                    $("#headerDetailTableId").append('<tr><td>' + SrNo + '</td><td>' + data[i].HeaderName + '</td><td style="display:none">' + data[i].HeaderID + '</td></tr>');
                };
                // $(".table").append(tr);
                $('#headerDetailTableId').DataTable({
                    "fixedHeader": true,
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "responsive": false,
                });
                var buttons = new $.fn.dataTable.Buttons($('#headerDetailTableId').DataTable(), {
                    buttons: [
                        {
                            extend: 'excel',
                            text: '<li class="fa fa-file-excel-o fa-lg" style="font-weight: 600;"></li><br>Excel'
                        }
                    ]
                }).container().appendTo($('#headerExcelExport'));
            },
            error: function (result) {
                alert("Error grd bind");
            }
        });
    }
</script>
@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
        window.onload(true);
        Restor();
    </script>
}
<script>
    $(document).ready(function () {
        $("#serachtable").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#categID tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#headID').delegate('tr', 'click', function () {
            $('#headID').DataTable();
            $('#headID tr').removeClass('highlighted');
            $(this).addClass('highlighted');
        })
        //  var table = $('#deptID').DataTable();
        $('#headerDetailTableId').delegate('td', 'click', function () {
            debugger
            var row_num = parseInt($(this).parent().index());
            $("#save").html("<i class='fa fa-save'></i>Update");
            debugger;
            var HeaderID = document.getElementById("headerDetailTableId").tBodies[0].rows[row_num].cells[2].innerHTML;
            $("#HeaderID").val(HeaderID);
            $.ajax({
                type: "GET",
                url: '@Url.Action("EditHeader1", "Header")',
                data: { id: HeaderID },
                dataType: "json",
                success: function (data) {
                    debugger
                    //alert(obd.DepartmentName);
                    $("#HeaderID").val(data[0].HeaderID);
                    $("#HeaderName1").val(data[0].HeaderName);
                },
            });
        });
    });
</script>
<script>
    function Header(HeaderID) {
        debugger
        if (HeaderID != "" && $("#HeaderName1").val() != "") {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteHeader", "Header")',
                    data: { HeaderID: HeaderID },
                    dataType: "json",
                    success: function (data) {
                        if (data == "Category Deleted Successfully") {
                            alert("Category Deleted Successfully");
                            window.location.reload(true);
                        }
                        else {
                            alert(data);
                            window.location.reload(true);
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                        window.location.reload(true);
                    }
                });
            }
        }
    }
</script>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <form action="" method="post">
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>Header Master</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Action("PatientMaster", "Application")">Master</a></li>
                                    <li class="breadcrumb-item active">Header</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">Header Detail</h2>
                                    <div class="card-body pane-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label>Header Name</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="hidden" id="HeaderID" name="HeaderID" class="form-control">
                                                        <input type="text" id="HeaderName1" name="HeaderName" class="form-control" required
                                                               style="border-left-color: red;border-left-width: thick;"
                                                               oninvalid="this.setCustomValidity('Please Enter Header')"
                                                               oninput="this.setCustomValidity('')">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="text-align: center; display: block;margin-top:10px">
                                <div class="btn-group dropdown-split-warning">
                                    <button type="submit" class="btn btn-app" id="save">
                                        <i class="fa fa-save"></i>Save
                                    </button>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="Delete" onclick="Header(document.getElementById('HeaderID').value)">
                                        <i class="fa fa-trash"></i>Delete
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="location.reload();">
                                        <i class="fa fa-refresh"></i>Clear
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="window.location.href='@Url.Action("PatientMaster", "Application")'">
                                        <i class="fa fa-sign-out"></i>Exit
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="headerExcelExport"></a>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table id="headerDetailTableId" class="table table-bordered hover display dataTable table-hover" role="grid" style="width: 100%">
                                    <thead style="background-color: #bddff7;">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Header Name</th>
                                            <th style="display:none" scope="col">HeadID</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
