@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--This file is Created by Mohammed-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<style>
    @@media only screen and (max-width: 425px) {
        .cpb-10 {
            padding-bottom: 10px;
        }
    }

    #purchaseTable {
        max-width: 600px;
        margin: 0 auto;
    }

        #purchaseTable th, td {
            white-space: nowrap;
        }
</style>
<script type="text/javascript">
    $('html').bind('keypress', function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });
</script>

@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
        window.onload(true);
        Restor();
    </script>
}
<script>
    $(document).ready(function () {

        $("#supplierName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("BindSupplier", "Purchase")',
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {

                        debugger
                        response($.map(data, function (item) {
                            debugger
                            return {
                                label: item.ProductSupplierName, value: item.ProductSupplierName, id: item.ProductSupplierID
                            };
                        }))
                    }
                })
            },
            minLength: 1,
            change: function (event, ui) {
                if (!ui.item) {
                    this.value = '';
                }
            },
            select: function (event, i) {
                var show = i.item.id;
                $("#ProductSupplierID").val(show);
            },
        });
       
        $("#supplierName").change(function () {
            debugger
            var ProductSupplierID = $("#ProductSupplierID").val();
            $.ajax({
                url: '@Url.Action("GetProductSupplier", "Purchase")',
                type: "POST",
                data: { ProductSupplierID: ProductSupplierID },
                dataType: "json",
                success: function (data) {
                    debugger;
                    $("#address").val(data[0].Address);
                    $("#currentBalance").val(data[0].Balance);


                },
            });
            $.ajax({
                url: '@Url.Action("GetProductPurchaseOLDBillsNO", "Purchase")',
                type: "POST",
                data: { ProductSupplierID: ProductSupplierID },
                dataType: "json",
                success: function (data) {

                    debugger;
                    $('#oldBillNumber').append('<option value="0">Select</option>');
                    $("#oldBillNumber td").remove();
                    for (var i = 0; i < data.length; i++) {

                        $("#oldBillNumber").append($("<option value=" + data[i].BillNoDate + ">" + data[i].BillNoDate + "</option>"));

                        debugger;
                    }
                },
            });
        });
               
        $("#payment_type").change(function () {
            debugger

            PaymentMode();

        });
        function PaymentMode() {
            debugger
            var select = document.getElementById("payment_type").value;
            var Number, Name, paymentDate, Remarks;

            Number = $("#Number").val();
            Name = $("#Name").val();
            paymentDate = $("#paymentDate").val();
            Remarks = $("#Remarks").val();

            switch (select) {
                case 'Cheque':
                    $("#chequeModal").show(300);
                    $("#PaymentNo1").text("Cheque No");
                    $("#paymentName1").text("Bank Name");
                    $("#paymentDate1").text("Cheque Date");
                    $("#paymentRemark1").text("Remark");
                    break;
            }
        }

    });
</script>
<script>
    $(document).ready(function () {
      
        $("#oldBillNumber").change(function () {
            debugger
            var id = $("#oldBillNumber").val();

            if (id != "Select") {
                $("#save").html("<i class='fa fa-save'></i>Update");
                $.ajax({
                    url: '@Url.Action("FillOldBillDetails", "Purchase")',
                    type: "GET",
                    dataType: "Json",
                    data: { BillNo: $(this).val() },
                    success: function (data) {
                        debugger
                        $("#grossTotal").val(data.objmodel.grossTotal);
                        $("#SupplierRemark").val(data.objmodel.SupplierRemark);
                        $("#billDate").val(data.objmodel.billDate);
                        $("#date").val(data.objmodel.Date);
                        $("#dueDate").val(data.objmodel.DueDate);
                        $("#discountAmt").val(data.objmodel.discountAmt);
                        $("#billNumber").val(data.objmodel.BillNo);
                        $("#taxAmount").val(data.objmodel.taxAmount);
                        $("#totalAmount ").val(data.objmodel.totalAmount);
                        $("#lessCreditDebit").val(data.objmodel.lessCreditDebit);
                        $("#netAmount").val(data.objmodel.netAmount);
                        $("#otherAdj").val(data.objmodel.otherAdj);
                        $("#billAmount").val(data.objmodel.billAmount);
                        $("#currentBalance").val(data.objmodel.currentBalance);
                        $("#payment_type").val(data.objmodel.payment_type);
                        $("#cheque").val(data.objmodel.cheque);
                        $("#bankName").val(data.objmodel.bankName);
                        $("#chequeDate").val(data.objmodel.chequeDate);
                        $("#Remarks").val(data.objmodel.Remarks);
                        $("#ProductPurchaseID").val(data.objmodel.ProductPurchaseID);
                        $("#purchaseTable tbody tr").remove();
                        for(var i=0; i < data.obj1.length;i++)
                        {

                            if (data.obj1[i].discountSymbol1 == "%")
                            {
                                secOptionDisc = "Rs.";
                            }

                            if (data.obj1[i].discountSymbol1 == "Rs.") {
                                secOptionDisc = "%";
                            }

                            if (data.obj1[i].lessBySymbol1 == "%") {
                                secOptionLess = "Rs.";
                            }

                            if (data.obj1[i].lessBySymbol1 == "Rs.") {
                                secOptionLess = "%";
                            }

                           $("#purchaseTable").append('<tr><td>' + '<input type="text" value="' + data.obj1[i].productName1 +
                               '"  class="form-control" placeholder="Search Product" name="productName1" id="productName1">' + '<input type="hidden" value="' + data.obj1[i].ProductID1 +
                               '" name="ProductID1" id="ProductID1">' + '</td><td>' + '<input type="text" value="' + data.obj1[i].batchNumber1 +
                               '" class="form-control" name="batchNumber1" id="batchNumber1">' + '</td><td style="display:none">' + '<input type="text" value="' + data.obj1[i].ProductDetailsID1 +
                               '" class="form-control" name="ProductDetailsID1" id="ProductDetailsID1">' + '</td><td>' + '<input type="text" value="' + data.obj1[i].HSNSACCode1 +
                               '" class="form-control" placeholder="Search HSN/SAC" name="HSNSACCode1" id="HSNSACCode1">' + '</td><td>'
                               + '<input type="text" value="' +
                               data.obj1[i].expiry1 + '" class="form-control" name="expiry1" id="expiry1">' + '</td><td>' + '<input type="text"  value="' +
                               data.obj1[i].mrp1 + '" class="form-control" name="mrp1" id="mrp1">' + '</td><td>' + '<input type="text"  value="'
                               + data.obj1[i].salesRate1 + '" class="form-control" name="salesRate1" id="salesRate1">' + '</td><td>' + '<input type="text"  value="'
                               + data.obj1[i].purchaseRate1 + '" class="form-control" onchange="myCalRate(this)" name="purchaseRate1" id="purchaseRate1">' +
                               '</td><td>' + '<input type="text"  value="' + data.obj1[i].quantity1 + '" class="form-control" onchange="myCalQTY(this)" name="quantity1" id="quantity1">' + '</td><td>' +
                               '<input type="text" readonly value="' + data.obj1[i].gst1 + '" class="form-control" name="gst1" id="gst1">' + '</td><td>' +
                               '<input type="text" readonly value="' + data.obj1[i].sgst1 + '" class="form-control" name="sgst1" id="sgst1">' + '</td><td>' +
                               '<input type="text" readonly value="' + data.obj1[i].cgst1 + '" class="form-control" name="cgst1" id="cgst1">' + '</td><td>' +
                               '<input type="text" readonly value="' + data.obj1[i].utgst1 + '" class="form-control" name="utgst1" id="utgst1">' +
                               '</td><td>' + '<input type="text"  value="' + data.obj1[i].free1 + '" class="form-control" name="free1" id="free1">' +
                               '</td><td>' + '<input type="text"  value="' + data.obj1[i].discount1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="discount1" id="discount1">' +
                               '</td><td>' + '<select name="discountSymbol1" id="discountSymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option selected value="' + data.obj1[i].discountSymbol1 + '">' + data.obj1[i].discountSymbol1 + '</option><option value="' + secOptionDisc + '">' + secOptionDisc + '</option></select>' + '</td><td>' +
                               '<input type="text"  value="' + data.obj1[i].lessBy1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="lessBy1" id="lessBy1">' + '</td><td>' +
                               '<select name="lessBySymbol1" id="lessBySymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option selected value="' + data.obj1[i].lessBySymbol1 + '">' + data.obj1[i].lessBySymbol1 + '</option><option value="' + secOptionLess + '">' + secOptionLess + '</option></select>' +
                               '</td><td>' + '<input type="text" readonly value="' + data.obj1[i].totalamount1 + '" class="form-control" name="totalamount1" id="totalamount1">' +
                               '</td><td><a onclick="myFunction(this)" href="#" class="fa fa-trash-o" id="delrow" class="delrow"></a></td></tr>');

                        }

                        productName1 = "";
                        ProductID1 = "";
                        batchNumber1 = "";
                        HSNSACCode1 = "";
                        ProductDetailsID1 = "";
                        expiry1 = "@DateTime.Now.ToString("yyyy-MM-dd")"
                        mrp1 = "0.00";
                        salesRate1 = "0.00";
                        purchaseRate1 = "0.00";
                        quantity1 = "0";
                        gst1 = "0.00";
                        sgst1 = "0.00";
                        cgst1 = "0.00";
                        utgst1 = "0.00";
                        free1 = "0";
                        discount1 = "0.00";
                        discountSymbol1 = $('#discountSymbol').val();
                        lessBy1 = "0.00";
                        lessBySymbol1 = $('#lessBySymbol').val();
                        totalamount1 = "0.00";

                        $("#purchaseTable").append('<tr><td>' + '<input type="text" value="' + productName1 +
             '"  class="form-control" placeholder="Search Product" name="productName1" id="productName1">' + '</td><td>' + '<input type="text" value="' + batchNumber1 +
             '" class="form-control" name="batchNumber1" id="batchNumber1">' + '</td><td style="display:none">' + '<input type="text" value="' + ProductDetailsID1 +
             '" class="form-control" name="ProductDetailsID1" id="ProductDetailsID1">' + '</td><td>' + '<input type="text" value="' + HSNSACCode1 +
             '" class="form-control" placeholder="Search HSN/SAC" name="HSNSACCode1" id="HSNSACCode1">' + '</td><td>'
             + '<input type="date" value="' +
             expiry1 + '" class="form-control" name="expiry1" id="expiry1">' + '</td><td>' + '<input type="text"  value="' +
             mrp1 + '" class="form-control" name="mrp1" id="mrp1">' + '</td><td>' + '<input type="text"  value="'
             + salesRate1 + '" class="form-control" name="salesRate1" id="salesRate1">' + '</td><td>' + '<input type="text"  value="'
             + purchaseRate1 + '" class="form-control" onchange="myCalRate(this)" name="purchaseRate1" id="purchaseRate1">' +
             '</td><td>' + '<input type="text"  value="' + quantity1 + '" class="form-control" onchange="myCalQTY(this)" name="quantity1" id="quantity1">' + '</td><td>' +
             '<input type="text" readonly value="' + gst1 + '" class="form-control" name="gst1" id="gst1">' + '</td><td>' +
             '<input type="text" readonly value="' + sgst1 + '" class="form-control" name="sgst1" id="sgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + cgst1 + '" class="form-control" name="cgst1" id="cgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + utgst1 + '" class="form-control" name="utgst1" id="utgst1">' +
             '</td><td>' + '<input type="text"  value="' + free1 + '" class="form-control" name="free1" id="free1">' +
             '</td><td>' + '<input type="text"  value="' + discount1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="discount1" id="discount1">' +
             '</td><td>' + '<select name="discountSymbol1" id="discountSymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' + '</td><td>' +
             '<input type="text"  value="' + lessBy1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="lessBy1" id="lessBy1">' + '</td><td>' +
             '<select name="lessBySymbol1" id="lessBySymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' +
             '</td><td>' + '<input type="text" readonly value="' + totalamount1 + '" class="form-control" name="totalamount1" id="totalamount1">' +
             '</td><td style="display:none">' + '<input type="text" value="' + ProductID1 +
             '" class="form-control" name="ProductID1" id="ProductID1">' + '</td><td><a onclick="myFunction(this)" href="#" class="fa fa-trash-o" id="delrow" class="delrow"></a></td></tr>');

                    }
                })
            }
            else
            {
                productName1 = "";
                ProductID1 = "";
                batchNumber1 = "";
                HSNSACCode1 = "";
                ProductDetailsID1 = "";
                expiry1 = "@DateTime.Now.ToString("yyyy-MM-dd")"
                mrp1 = "0.00";
                salesRate1 = "0.00";
                purchaseRate1 = "0.00";
                quantity1 = "0";
                gst1 = "0.00";
                sgst1 = "0.00";
                cgst1 = "0.00";
                utgst1 = "0.00";
                free1 = "0";
                discount1 = "0.00";
                discountSymbol1 = $('#discountSymbol').val();
                lessBy1 = "0.00";
                lessBySymbol1 = $('#lessBySymbol').val();
                totalamount1 = "0.00";

                $("#purchaseTable").append('<tr><td>' + '<input type="text" value="' + productName1 +
             '"  class="form-control" placeholder="Search Product" name="productName1" id="productName1">' + '</td><td>' + '<input type="text" value="' + batchNumber1 +
             '" class="form-control" name="batchNumber1" id="batchNumber1">' + '</td><td style="display:none">' + '<input type="text" value="' + ProductDetailsID1 +
             '" class="form-control" name="ProductDetailsID1" id="ProductDetailsID1">' + '</td><td>' + '<input type="text" value="' + HSNSACCode1 +
             '" class="form-control" placeholder="Search HSN/SAC" name="HSNSACCode1" id="HSNSACCode1">' + '</td><td>'
             + '<input type="date" value="' +
             expiry1 + '" class="form-control" name="expiry1" id="expiry1">' + '</td><td>' + '<input type="text"  value="' +
             mrp1 + '" class="form-control" name="mrp1" id="mrp1">' + '</td><td>' + '<input type="text"  value="'
             + salesRate1 + '" class="form-control" name="salesRate1" id="salesRate1">' + '</td><td>' + '<input type="text"  value="'
             + purchaseRate1 + '" class="form-control" onchange="myCalRate(this)" name="purchaseRate1" id="purchaseRate1">' +
             '</td><td>' + '<input type="text"  value="' + quantity1 + '" class="form-control" onchange="myCalQTY(this)" name="quantity1" id="quantity1">' + '</td><td>' +
             '<input type="text" readonly value="' + gst1 + '" class="form-control" name="gst1" id="gst1">' + '</td><td>' +
             '<input type="text" readonly value="' + sgst1 + '" class="form-control" name="sgst1" id="sgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + cgst1 + '" class="form-control" name="cgst1" id="cgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + utgst1 + '" class="form-control" name="utgst1" id="utgst1">' +
             '</td><td>' + '<input type="text"  value="' + free1 + '" class="form-control" name="free1" id="free1">' +
             '</td><td>' + '<input type="text"  value="' + discount1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="discount1" id="discount1">' +
             '</td><td>' + '<select name="discountSymbol1" id="discountSymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' + '</td><td>' +
             '<input type="text"  value="' + lessBy1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="lessBy1" id="lessBy1">' + '</td><td>' +
             '<select name="lessBySymbol1" id="lessBySymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' +
             '</td><td>' + '<input type="text" readonly value="' + totalamount1 + '" class="form-control" name="totalamount1" id="totalamount1">' +
             '</td><td style="display:none">' + '<input type="text" value="' + ProductID1 +
             '" class="form-control" name="ProductID1" id="ProductID1">' + '</td><td><a onclick="myFunction(this)" href="#" class="fa fa-trash-o" id="delrow" class="delrow"></a></td></tr>');

            }
        })

        $("#purchaseTable").on('click', '#delrow', function () {
            debugger;
            $(this).closest('tr').remove();
            $(this).closest('tr').text();
        });

        $('#closeModal').click(function () {
            $('#chequeModal').hide();
        })
        $("#paysave").click(function () {

            $("#chequeModal").hide();
            var select = document.getElementById("payment_type").value;

            $("#HiddenPayment").val(select);
            // alert($("#HiddenPayment").val());
            if (chk) {
                chk = false;
                Number1 = $("#cheque").val();
                Name1 = $("#bankName").val();
                paymentDate1 = $("#chequeDate").val();
                Remarks1 = $("#Remarks").val();
            }
            //alert("Payment Details Save");
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger

        productName1 = "";
        ProductID1 = "";
        batchNumber1 = "";
        HSNSACCode1 = "";
        ProductDetailsID1 = "";
        expiry1 = "@DateTime.Now.ToString("yyyy-MM-dd")"
        mrp1 = "0.00";
        salesRate1 = "0.00";
        purchaseRate1 = "0.00";
        quantity1 = "0";
        gst1 = "0.00";
        sgst1 = "0.00";
        cgst1 = "0.00";
        utgst1 = "0.00";
        free1 = "0";
        discount1 = "0.00";
        discountSymbol1 = $('#discountSymbol').val();
        lessBy1 = "0.00";
        lessBySymbol1 = $('#lessBySymbol').val();
        totalamount1 = "0.00";

        $("#purchaseTable").append('<tr><td>' + '<input type="text" value="' + productName1 +
             '"  class="form-control" placeholder="Search Product" name="productName1" id="productName1">' + '</td><td>' + '<input type="text" value="' + batchNumber1 +
             '" class="form-control" name="batchNumber1" id="batchNumber1">' + '</td><td style="display:none">' + '<input type="text" value="' + ProductDetailsID1 +
             '" class="form-control" name="ProductDetailsID1" id="ProductDetailsID1">' + '</td><td>' + '<input type="text" value="' + HSNSACCode1 +
             '" class="form-control" placeholder="Search HSN/SAC" name="HSNSACCode1" id="HSNSACCode1">' + '</td><td>'
             + '<input type="date" value="' +
             expiry1 + '" class="form-control" name="expiry1" id="expiry1">' + '</td><td>' + '<input type="text"  value="' +
             mrp1 + '" class="form-control" name="mrp1" id="mrp1">' + '</td><td>' + '<input type="text"  value="'
             + salesRate1 + '" class="form-control" name="salesRate1" id="salesRate1">' + '</td><td>' + '<input type="text"  value="'
             + purchaseRate1 + '" class="form-control" onchange="myCalRate(this)" name="purchaseRate1" id="purchaseRate1">' +
             '</td><td>' + '<input type="text"  value="' + quantity1 + '" class="form-control" onchange="myCalQTY(this)" name="quantity1" id="quantity1">' + '</td><td>' +
             '<input type="text" readonly value="' + gst1 + '" class="form-control" name="gst1" id="gst1">' + '</td><td>' +
             '<input type="text" readonly value="' + sgst1 + '" class="form-control" name="sgst1" id="sgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + cgst1 + '" class="form-control" name="cgst1" id="cgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + utgst1 + '" class="form-control" name="utgst1" id="utgst1">' +
             '</td><td>' + '<input type="text"  value="' + free1 + '" class="form-control" name="free1" id="free1">' +
             '</td><td>' + '<input type="text"  value="' + discount1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="discount1" id="discount1">' +
             '</td><td>' + '<select name="discountSymbol1" id="discountSymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' + '</td><td>' +
             '<input type="text"  value="' + lessBy1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="lessBy1" id="lessBy1">' + '</td><td>' +
             '<select name="lessBySymbol1" id="lessBySymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' +
             '</td><td>' + '<input type="text" readonly value="' + totalamount1 + '" class="form-control" name="totalamount1" id="totalamount1">' +
             '</td><td style="display:none">' + '<input type="text" value="' + ProductID1 +
             '" class="form-control" name="ProductID1" id="ProductID1">' + '</td><td><a onclick="myFunction(this)" href="#" class="fa fa-trash-o" id="delrow" class="delrow"></a></td></tr>');

        $('#purchaseTable').DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "autoWidth": false,
            "scrollX": true,
        });

        $('.dataTables_length').addClass('bs-select');

    });
</script>
<script>
    $(function () {
        debugger
        $("#otherAdj").change(function () {
            debugger
            if ($("#otherAdj").val() == "") {
                othrAdj = 0;
            }
            else {
                othrAdj = $("#otherAdj").val();
            }

            if ($("#lessCreditDebit").val() == "") {
                lessCR = 0;
            }
            else {
                lessCR = $("#lessCreditDebit").val();
            }
            debugger
            totAmt = $("#totalAmount").val();
            $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(lessCR));
            $("#billAmount").val($("#netAmount").val())
        });
    });
</script>
<script>
    $(function () {
        debugger
        $("#lessCreditDebit").change(function () {
            debugger
            if ($("#otherAdj").val() == "") {
                othrAdj = 0;
            }
            else {
                othrAdj = $("#otherAdj").val();
            }

            if ($("#lessCreditDebit").val() == "") {
                lessCR = 0;
            }
            else {
                lessCR = $("#lessCreditDebit").val();
            }
            debugger
            totAmt = $("#totalAmount").val();
            $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(lessCR));
            $("#billAmount").val($("#netAmount").val())
        });
    });
</script>
<script>
    debugger;
    function myCalRate(row) {
        debugger;

        var GrossTotal = 0;
        var TotalTax = 0;
        var Discount = 0;
        var LessCrDr = 0;
        var rowcount = purchaseTable.rows.length;

        for (var i = 0; i < rowcount - 1 ; i++) {

            qtyAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[8].children[0].value);
            rateAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[7].children[0].value);
            gst = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[9].children[0].value);
            discValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[14].children[0].value);
            discBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[15].children[0].value;
            lessValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[16].children[0].value);
            lessBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[17].children[0].value;

            if (qtyAmt == "") {
                qtyAmt = 0;
            }

            if (rateAmt == "") {
                rateAmt = 0;
            }

            var totamount = parseInt(qtyAmt) * parseInt(rateAmt);
            document.getElementById('purchaseTable').tBodies[0].rows[i].cells[18].children[0].value = totamount;

            GrossTotal = parseInt(GrossTotal) + parseInt(totamount);


            if (discBy == "%")
            {
                Discount = parseInt(Discount) + parseInt((totamount * discValue) / 100);
            }

            if (discBy == "Rs.") {
                Discount = parseInt(Discount) + parseInt(discValue);
            }
            TotalTax = parseInt(TotalTax) + parseInt((totamount * gst) / 100);


            if (lessBy == "%") {
                LessCrDr = parseInt(LessCrDr) + parseInt((totamount * lessValue) / 100);
            }

            if (lessBy == "Rs.") {
                LessCrDr = parseInt(LessCrDr) + parseInt(lessValue);
            }

            

        }

        othrAdj = $("#otherAdj").val();        
        $("#discountAmt").val(Discount);
        $("#lessCreditDebit").val(LessCrDr);

        if (othrAdj == "") {
            othrAdj = 0;
        }

        if (LessCrDr == "") {
            LessCrDr = 0;
        }

        if (Discount == "") {
            Discount = 0;
        }

        if (TotalTax == "") {
            TotalTax = 0;
        }

        $("#taxAmount").val(TotalTax)
        $("#grossTotal").val(GrossTotal)
        $("#totalAmount").val(parseInt(GrossTotal) - parseInt(Discount) + parseInt(TotalTax));

        totAmt = $("#totalAmount").val();
        $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(LessCrDr));
        $("#billAmount").val($("#netAmount").val())

        productName1 = "";
        ProductID1 = "";
        batchNumber1 = "";
        HSNSACCode1 = "";
        ProductDetailsID1 = "";
        expiry1 = "@DateTime.Now.ToString("yyyy-MM-dd")"
        mrp1 = "0.00";
        salesRate1 = "0.00";
        purchaseRate1 = "0.00";
        quantity1 = "0";
        gst1 = "0.00";
        sgst1 = "0.00";
        cgst1 = "0.00";
        utgst1 = "0.00";
        free1 = "0";
        discount1 = "0.00";
        discountSymbol1 = $('#discountSymbol').val();
        lessBy1 = "0.00";
        lessBySymbol1 = $('#lessBySymbol').val();
        totalamount1 = "0.00";

        $("#purchaseTable").append('<tr><td>' + '<input type="text" value="' + productName1 +
             '"  class="form-control" placeholder="Search Product" name="productName1" id="productName1">' + '</td><td>' + '<input type="text" value="' + batchNumber1 +
             '" class="form-control" name="batchNumber1" id="batchNumber1">' + '</td><td style="display:none">' + '<input type="text" value="' + ProductDetailsID1 +
             '" class="form-control" name="ProductDetailsID1" id="ProductDetailsID1">' + '</td><td>' + '<input type="text" value="' + HSNSACCode1 +
             '" class="form-control" placeholder="Search HSN/SAC" name="HSNSACCode1" id="HSNSACCode1">' + '</td><td>'
             + '<input type="date" value="' +
             expiry1 + '" class="form-control" name="expiry1" id="expiry1">' + '</td><td>' + '<input type="text"  value="' +
             mrp1 + '" class="form-control" name="mrp1" id="mrp1">' + '</td><td>' + '<input type="text"  value="'
             + salesRate1 + '" class="form-control" name="salesRate1" id="salesRate1">' + '</td><td>' + '<input type="text"  value="'
             + purchaseRate1 + '" class="form-control" onchange="myCalRate(this)" name="purchaseRate1" id="purchaseRate1">' +
             '</td><td>' + '<input type="text"  value="' + quantity1 + '" class="form-control" onchange="myCalQTY(this)" name="quantity1" id="quantity1">' + '</td><td>' +
             '<input type="text" readonly value="' + gst1 + '" class="form-control" name="gst1" id="gst1">' + '</td><td>' +
             '<input type="text" readonly value="' + sgst1 + '" class="form-control" name="sgst1" id="sgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + cgst1 + '" class="form-control" name="cgst1" id="cgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + utgst1 + '" class="form-control" name="utgst1" id="utgst1">' +
             '</td><td>' + '<input type="text"  value="' + free1 + '" class="form-control" name="free1" id="free1">' +
             '</td><td>' + '<input type="text"  value="' + discount1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="discount1" id="discount1">' +
             '</td><td>' + '<select name="discountSymbol1" id="discountSymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' + '</td><td>' +
             '<input type="text"  value="' + lessBy1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="lessBy1" id="lessBy1">' + '</td><td>' +
             '<select name="lessBySymbol1" id="lessBySymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="%">%</option><option value="Rs.">Rs.</option></select>' +
             '</td><td>' + '<input type="text" readonly value="' + totalamount1 + '" class="form-control" name="totalamount1" id="totalamount1">' +
             '</td><td style="display:none">' + '<input type="text" value="' + ProductID1 +
             '" class="form-control" name="ProductID1" id="ProductID1">' + '</td><td><a onclick="myFunction(this)" href="#" class="fa fa-trash-o" id="delrow" class="delrow"></a></td></tr>');


    }


    $(document).ready(function () {
            $("#purchaseTable").on('click', '#productName1', function () {
                debugger
                $(this).autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("Get_Product", "Purchase")',
                            dataType: "json",
                            data: { prefix: request.term },
                            success: function (data) {
                                debugger
                                response($.map(data, function (item) {
                                    return {
                                        label: item.productName1, value: item.productName1, id: item.ProductID1,
                                    };
                                }))
                            },
                        })
                    },
                    minLength: 1,
                    select: function (event, ui) {
                        if (!ui.item) {
                            this.value = "";
                        }
                    },
                    select: function (event, i) {
                        $(this).closest('tr').find('#ProductID1').val(i.item.id);
                    }
                })
            });

        $("#purchaseTable").on('click', '#HSNSACCode1', function () {
            debugger
            $(this).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("Bind_HSNCODE", "Purchase")',
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            debugger
                            response($.map(data, function (item) {
                                return {
                                    label: item.HSNSACCode1, value: item.HSNSACCode1
                                };
                            }))
                        },
                    })
                },
                minLength: 1,
                select: function (event, ui) {
                    if (!ui.item) {
                        this.value = "";
                    }
                },
            })
        });

       
        $("#purchaseTable").delegate('td', 'change', function () {
            debugger
            var code = $("#HSNSACCode1").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Get_HSN_GST", "Purchase")',
                data: '{HSNSACCode1: ' + JSON.stringify(code) + '}',
                contentType: "application/json; charset=utf-8",
                success: function (searchList) {
                    debugger;
                    $("#gst1").val(searchList[0].gst1);
                    $("#utgst1").val($("#gst1").val());
                    var percntg = parseInt($("#gst1").val());
                    if (percntg != 0 || percntg != null) {
                        $("#cgst1").val(percntg / 2);
                        $("#sgst1").val(percntg / 2);
                    }
                },
            });
        });

        $("#purchaseTable").delegate('td', 'change', function () {
            debugger
            var row_num = parseInt($(this).parent().index());
            debugger
            var productID = document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[19].children[0].value;
            document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[19].children[0].value = productID;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxMethod_CheckProduct", "Purchase")',
                data: '{productNameID1: ' + JSON.stringify(productID) + '}',
                contentType: "application/json; charset=utf-8",
                success: function (list_po) {
                    debugger
                    if (list_po[0] == "" || list_po[0] == null) {
                    }
                    else {
                        var hsn = list_po[0];
                        document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[3].children[0].value = hsn;
                    }

                    if (list_po[1] == "" || list_po[1] == null) {
                    }
                    else {
                        var gst = list_po[1];
                        document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[9].children[0].value = gst;
                    }

                    if (list_po[2] == "" || list_po[2] == null) {
                    }
                    else {
                        var sgst = list_po[2];
                        document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[10].children[0].value = sgst;
                    }

                    if (list_po[3] == "" || list_po[3] == null) {
                    }
                    else {
                        var cgst = list_po[3];
                        document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[11].children[0].value = cgst;
                    }

                    if (list_po[4] == "" || list_po[4] == null) {
                    }
                    else {
                        var utgst = list_po[4];
                        document.getElementById('purchaseTable').tBodies[0].rows[row_num].cells[12].children[0].value = utgst;
                    }

                },
            });
        });
    });
</script>
<script>
    debugger;
    function myCalQTY(row) {
        debugger;

        var GrossTotal = 0;
        var TotalTax = 0;
        var Discount = 0;
        var LessCrDr = 0;
        var rowcount = purchaseTable.rows.length;

        for (var i = 0; i < rowcount - 1 ; i++) {

            qtyAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[8].children[0].value);
            rateAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[7].children[0].value);
            gst = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[9].children[0].value);
            discValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[14].children[0].value);
            discBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[15].children[0].value;
            lessValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[16].children[0].value);
            lessBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[17].children[0].value;

            if (qtyAmt == "") {
                qtyAmt = 0;
            }

            if (rateAmt == "") {
                rateAmt = 0;
            }

            var totamount = parseInt(qtyAmt) * parseInt(rateAmt);
            document.getElementById('purchaseTable').tBodies[0].rows[i].cells[18].children[0].value = totamount;

            GrossTotal = parseInt(GrossTotal) + parseInt(totamount);


            if (discBy == "%") {
                Discount = parseInt(Discount) + parseInt((totamount * discValue) / 100);
            }

            if (discBy == "Rs.") {
                Discount = parseInt(Discount) + parseInt(discValue);
            }
            TotalTax = parseInt(TotalTax) + parseInt((totamount * gst) / 100);


            if (lessBy == "%") {
                LessCrDr = parseInt(LessCrDr) + parseInt((totamount * lessValue) / 100);
            }

            if (lessBy == "Rs.") {
                LessCrDr = parseInt(LessCrDr) + parseInt(lessValue);
            }



        }

        othrAdj = $("#otherAdj").val();
        $("#discountAmt").val(Discount);
        $("#lessCreditDebit").val(LessCrDr);

        if (othrAdj == "") {
            othrAdj = 0;
        }

        if (LessCrDr == "") {
            LessCrDr = 0;
        }

        if (Discount == "") {
            Discount = 0;
        }

        if (TotalTax == "") {
            TotalTax = 0;
        }

        $("#taxAmount").val(TotalTax)
        $("#grossTotal").val(GrossTotal)
        $("#totalAmount").val(parseInt(GrossTotal) - parseInt(Discount) + parseInt(TotalTax));

        totAmt = $("#totalAmount").val();
        $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(LessCrDr));
        $("#billAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(LessCrDr))
    }
</script>
<script>
    debugger;
    function myCalDiscountLessBy(row) {
        debugger;

        var GrossTotal = 0;
        var TotalTax = 0;
        var Discount = 0;
        var LessCrDr = 0;
        var rowcount = purchaseTable.rows.length;

        for (var i = 0; i < rowcount - 1 ; i++) {

            qtyAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[8].children[0].value);
            rateAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[7].children[0].value);
            gst = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[9].children[0].value);
            discValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[14].children[0].value);
            discBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[15].children[0].value;
            lessValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[16].children[0].value);
            lessBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[17].children[0].value;

            if (qtyAmt == "") {
                qtyAmt = 0;
            }

            if (rateAmt == "") {
                rateAmt = 0;
            }

            var totamount = parseInt(qtyAmt) * parseInt(rateAmt);
            document.getElementById('purchaseTable').tBodies[0].rows[i].cells[18].children[0].value = totamount;

            GrossTotal = parseInt(GrossTotal) + parseInt(totamount);


            if (discBy == "%") {
                Discount = parseInt(Discount) + parseInt((totamount * discValue) / 100);
            }

            if (discBy == "Rs.") {
                Discount = parseInt(Discount) + parseInt(discValue);
            }
            TotalTax = parseInt(TotalTax) + parseInt((totamount * gst) / 100);


            if (lessBy == "%") {
                LessCrDr = parseInt(LessCrDr) + parseInt((totamount * lessValue) / 100);
            }

            if (lessBy == "Rs.") {
                LessCrDr = parseInt(LessCrDr) + parseInt(lessValue);
            }

        }

        othrAdj = $("#otherAdj").val();
        $("#discountAmt").val(Discount);
        $("#lessCreditDebit").val(LessCrDr);

        if (othrAdj == "") {
            othrAdj = 0;
        }

        if (LessCrDr == "") {
            LessCrDr = 0;
        }

        if (Discount == "") {
            Discount = 0;
        }

        if (TotalTax == "") {
            TotalTax = 0;
        }

        $("#taxAmount").val(TotalTax)
        $("#grossTotal").val(GrossTotal)
        $("#totalAmount").val(parseInt(GrossTotal) - parseInt(Discount) + parseInt(TotalTax));

        totAmt = $("#totalAmount").val();
        $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(LessCrDr));
        $("#billAmount").val($("#netAmount").val())
    }
</script>
<script>
    var loadfile = function (event, name)
    {
        debugger
        var validFilesTypes = ["Service_Excel_Data"];
        var file = event.target.files[0];
        function CheckExtension(file)
        {
           
            var filePath = file.name;          
           // var ext = filePath.startsWith('purchase');
            var ext = true;
            var isValidFile = false;
            if (ext)
            {
              for (var i = 0; i < validFilesTypes.length; i++)
            {
                if (ext == validFilesTypes[i])
                {
                    isValidFile = true;
                    break;
                }
                return true;
            }
            }

            if (!isValidFile)
            {
                file.value = null;
                alert("Invalid File. Valid extensions are:\n\n" + validFilesTypes.join(","));
                return false;
            }


        }

        var data = new FormData();
        data.append("ImageFile", file);
      
        var Chk = CheckExtension(file);
        if (Chk != false)
        {
            $("#lodeImage").show();
        $.ajax({
            url: '@Url.Action("imageuplod", "Purchase")',
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                $("#lodeImage").hide();
                
                $("#purchaseTable tbody tr").remove();                
                for (var i = 0; i < data.length; i++) {

                    if (data[i].discountSymbol1 == "%") {
                        per = "%";
                        rupees = "Rs.";
                    }

                    if (data[i].discountSymbol1 == "Rs.") {
                        per = "Rs.";
                        rupees = "%";
                    }

                    if (data[i].lessBySymbol1 == "%") {
                        per = "%";
                        rupees = "Rs.";
                    }

                    if (data[i].lessBySymbol1 == "Rs.") {
                        per = "Rs.";
                        rupees = "%";
                    }

                    $("#purchaseTable").append('<tr><td>' + '<input type="text" value="' + data[i].productName1 +
             '"  class="form-control" placeholder="Search Product" name="productName1" id="productName1">' + '</td><td>' + '<input type="text" value="' + data[i].batchNumber1 +
             '" class="form-control" name="batchNumber1" id="batchNumber1">' + '</td><td style="display:none">' + '<input type="text" value="' + data[i].ProductDetailsID1 +
             '" class="form-control" name="ProductDetailsID1" id="ProductDetailsID1">' + '</td><td>' + '<input type="text" value="' + data[i].HSNSACCode1 +
             '" class="form-control" placeholder="Search HSN/SAC" name="HSNSACCode1" id="HSNSACCode1">' + '</td><td>'
             + '<input type="date" value="' +
             data[i].expiry1 + '" class="form-control" name="expiry1" id="expiry1">' + '</td><td>' + '<input type="text"  value="' +
             data[i].mrp1 + '" class="form-control" name="mrp1" id="mrp1">' + '</td><td>' + '<input type="text"  value="'
             + data[i].salesRate1 + '" class="form-control" name="salesRate1" id="salesRate1">' + '</td><td>' + '<input type="text"  value="'
             + data[i].purchaseRate1 + '" class="form-control" onchange="myCalRate(this)" name="purchaseRate1" id="purchaseRate1">' +
             '</td><td>' + '<input type="text"  value="' + data[i].quantity1 + '" class="form-control" onchange="myCalQTY(this)" name="quantity1" id="quantity1">' + '</td><td>' +
             '<input type="text" readonly value="' + data[i].gst1 + '" class="form-control" name="gst1" id="gst1">' + '</td><td>' +
             '<input type="text" readonly value="' + data[i].sgst1 + '" class="form-control" name="sgst1" id="sgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + data[i].cgst1 + '" class="form-control" name="cgst1" id="cgst1">' + '</td><td>' +
             '<input type="text" readonly value="' + data[i].utgst1 + '" class="form-control" name="utgst1" id="utgst1">' +
             '</td><td>' + '<input type="text"  value="' + data[i].free1 + '" class="form-control" name="free1" id="free1">' +
             '</td><td>' + '<input type="text"  value="' + data[i].discount1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="discount1" id="discount1">' +
             '</td><td>' + '<select name="discountSymbol1" id="discountSymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="' + per + '">' + per + '</option><option value="' + rupees + '">' + rupees + '</option></select>' + '</td><td>' +
             '<input type="text"  value="' + data[i].lessBy1 + '" class="form-control" onchange="myCalDiscountLessBy(this)" name="lessBy1" id="lessBy1">' + '</td><td>' +
             '<select name="lessBySymbol1" id="lessBySymbol1" class="form-control" onchange="myCalDiscountLessBy(this)"> <option value="' + per + '">' + per + '</option><option value="' + rupees + '">' + rupees + '</option></select>' +
             '</td><td>' + '<input type="text" readonly value="' + data[i].totalamount1 + '" class="form-control" name="totalamount1" id="totalamount1">' +
             '</td><td style="display:none">' + '<input type="text" value="' + data[i].ProductID1 +
             '" class="form-control" name="ProductID1" id="ProductID1">' + '</td><td><a onclick="myFunction(this)" href="#" class="fa fa-trash-o" id="delrow" class="delrow"></a></td></tr>');
    
                }


                var GrossTotal = 0;
                var TotalTax = 0;
                var Discount = 0;
                var LessCrDr = 0;
                var rowcount = purchaseTable.rows.length;

                for (var i = 0; i < rowcount-1 ; i++) {

                    qtyAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[8].children[0].value);
                    rateAmt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[7].children[0].value);
                    gst = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[9].children[0].value);
                    discValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[14].children[0].value);
                    discBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[15].children[0].value;
                    lessValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[i].cells[16].children[0].value);
                    lessBy = document.getElementById('purchaseTable').tBodies[0].rows[i].cells[17].children[0].value;

                    if (qtyAmt == "") {
                        qtyAmt = 0;
                    }

                    if (rateAmt == "") {
                        rateAmt = 0;
                    }

                    var totamount = parseInt(qtyAmt) * parseInt(rateAmt);
                    document.getElementById('purchaseTable').tBodies[0].rows[i].cells[18].children[0].value = totamount;

                    GrossTotal = parseInt(GrossTotal) + parseInt(totamount);


                    if (discBy == "%") {
                        Discount = parseInt(Discount) + parseInt((totamount * discValue) / 100);
                    }

                    if (discBy == "Rs.") {
                        Discount = parseInt(Discount) + parseInt(discValue);
                    }
                    TotalTax = parseInt(TotalTax) + parseInt((totamount * gst) / 100);


                    if (lessBy == "%") {
                        LessCrDr = parseInt(LessCrDr) + parseInt((totamount * lessValue) / 100);
                    }

                    if (lessBy == "Rs.") {
                        LessCrDr = parseInt(LessCrDr) + parseInt(lessValue);
                    }

                }

                othrAdj = $("#otherAdj").val();
                $("#discountAmt").val(Discount);
                $("#lessCreditDebit").val(LessCrDr);

                if (othrAdj == "") {
                    othrAdj = 0;
                }

                if (LessCrDr == "") {
                    LessCrDr = 0;
                }

                if (Discount == "") {
                    Discount = 0;
                }

                if (TotalTax == "") {
                    TotalTax = 0;
                }

                $("#taxAmount").val(TotalTax)
                $("#grossTotal").val(GrossTotal)
                $("#totalAmount").val(parseInt(GrossTotal) - parseInt(Discount) + parseInt(TotalTax));

                totAmt = $("#totalAmount").val();
                $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(LessCrDr));
                $("#billAmount").val($("#netAmount").val())
                              
            }
        });
        }
        else
        {
            $("#file1").val("");
            return false;
        }


    }
</script>
<script>
    function Delete(ProductPurchaseID) {
        debugger
        if (ProductPurchaseID != "") {
            var ans = confirm("Are you sure you want to Delete this Record?");
            if (ans) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete_Purchase", "Purchase")',
                    data: { ProductPurchaseID: ProductPurchaseID },
                    dataType: "json",
                    success: function (data) {
                        debugger
                        if (data == "Purchase Deleted Successfully !") {
                            alert("Purchase Deleted Successfully !");
                            window.location.reload(true);
                        }
                        else {
                            alert(data);
                        }
                    },
                });
            }
        }
    }
</script>
<script>
    function myFunction(row) {
        debugger;
        var totamount = 0;
        var rowData = row.parentNode.parentNode;
        var rowIndex = rowData.sectionRowIndex;

        var Tbltotalamt = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[rowIndex].cells[18].children[0].value);
        var gst = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[rowIndex].cells[9].children[0].value);        
        var discValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[rowIndex].cells[14].children[0].value);
        var discBy = document.getElementById('purchaseTable').tBodies[0].rows[rowIndex].cells[15].children[0].value;
        var lessValue = parseInt(document.getElementById('purchaseTable').tBodies[0].rows[rowIndex].cells[16].children[0].value);
        var lessBy = document.getElementById('purchaseTable').tBodies[0].rows[rowIndex].cells[17].children[0].value;


        grossAmt = $("#grossTotal").val();
        discAmt = $("#discountAmt").val();
        taxAmt = $("#taxAmount").val();
        othrAdj = $("#otherAdj").val();
        lessCrDr = $("#lessCreditDebit").val();
        netAmt = $("#netAmount").val();

        if (discBy == "%") {
            discAmt = parseInt(discAmt) - parseInt((Tbltotalamt * discValue) / 100);
        }

        if (discBy == "Rs.") {
            discAmt = parseInt(discAmt) - parseInt(discValue);
        }

        grossAmt = parseInt(grossAmt) - Tbltotalamt;
        taxAmt = parseInt(taxAmt) - parseInt((Tbltotalamt * gst) / 100)

        if (lessBy == "%") {
            lessCrDr = parseInt(lessCrDr) + parseInt((Tbltotalamt * lessValue) / 100);
        }

        if (lessBy == "Rs.") {
            lessCrDr = parseInt(lessCrDr) + parseInt(lessValue);
        }

        totAmt = parseInt(grossAmt) - parseInt(discAmt) + parseInt(taxAmt)

        $("#grossTotal").val(parseInt(grossAmt));
        $("#discountAmt").val(parseInt(discAmt));
        $("#taxAmount").val(parseInt(taxAmt));
        $("#totalAmount").val(parseInt(totAmt));
        $("#lessCreditDebit").val(parseInt(lessCrDr));
        $("#netAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(lessCrDr));
        $("#billAmount").val(parseInt(totAmt) + parseInt(othrAdj) - parseInt(lessCrDr))
    }

</script>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <form action="" method="post">
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>Purchase</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Action("Pharmacy","Application")">Pharmacy</a></li>
                                    <li class="breadcrumb-item active">Purchase</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">Supplier Information</h2>
                                    <div class="card-body pane-body">
                                        <div class="row">
                                            <!--Supplier Name-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label>Supplier</label>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right:0px">
                                                    <input type="text" id="supplierName" name="supplierName" placeholder="Search Supplier" class="form-control" required
                                                           style="border-left-color: red;border-left-width: thick;"
                                                           oninvalid="this.setCustomValidity('Please Enter Supplier Name')"
                                                           b oninput="this.setCustomValidity('')">
                                                    <input type="hidden" name="ProductSupplierID" id="ProductSupplierID" />
                                                    <input type="hidden" name="ProductPurchaseID" id="ProductPurchaseID" />
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                    <button type="button" id="addSupplierName" name="addSupplierName" onclick="window.location.href='@Url.Action("ProductSupplier", "ProductSupplier")'" class="btndivcss" style="height: 25px;">
                                                        <span class="fa fa-plus"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <!--Address-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label>Address</label>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <textarea id="address" name="address" class="form-control" readonly></textarea>
                                                </div>
                                            </div>
                                            <!--Current Balance-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label>Curr. Bal.</label>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <input type="number" id="currentBalance" name="currentBalance" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <!--Due Date-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label>Due Date</label>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <input type="date" id="dueDate" name="dueDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="9999-12-31" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">Bill Information</h2>
                                    <div class="card-body pane-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Bill Number-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                                        <label>Bill No.</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="billNumber" name="billNumber" class="form-control">
                                                    </div>
                                                </div>
                                                <!--Old Bill Number-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                                        <label>Old Bill</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding0">
                                                        <select id="oldBillNumber" name="oldBillNumber" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Date-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                                        <label>Date</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding0">
                                                        <input type="date" id="date" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="9999-12-31" class="form-control">
                                                    </div>
                                                </div>
                                                <!--Bill Date-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                                        <label>Bill Date</label>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding0">
                                                        <input type="date" id="billDate" name="billDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="9999-12-31" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Remark-->
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 padding0">
                                                        <label>Remark</label>
                                                    </div>
                                                    <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 padding0">
                                                        <textarea id="SupplierRemark" name="SupplierRemark" class="form-control" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">Amount Information</h2>
                                    <div class="card-body pane-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Gross Total-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Gross Total</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="grossTotal" name="grossTotal" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>
                                                <!--Less Credit and Debit-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Less Cr/Dr</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="lessCreditDebit" name="lessCreditDebit" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Discount-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Discount</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="discountAmt" name="discountAmt" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>                                                
                                                <!--Other Adj.-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Other Adj.</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="otherAdj" name="otherAdj" class="form-control" value="0.00">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Tax Amount-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Tax Amt.</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="taxAmount" name="taxAmount" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>
                                                <!--Net Amount-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Net Amt.</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="netAmount" name="netAmount" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Total Amount-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Total Amt.</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="totalAmount" name="totalAmount" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>
                                                <!--Bill Amount-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Bill Amt.</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <input type="number" id="billAmount" name="billAmount" class="form-control" readonly value="0.00">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <!--Payment Type-->
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <label>Pay.Type</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                                                        <select id="payment_type" name="payment_type" class="form-control">
                                                            <option value="Cash">Cash</option>
                                                            <option value="Credit">Credit</option>
                                                            <option value="Cheque">Cheque</option>
                                                        </select>
                                                        <input type="hidden" id="HiddenPayment" name="HiddenPayment" />
                                                        <!-- Cheque Modal -->
                                                        <div class="modal" id="chequeModal">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-body">
                                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="control-label col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                                                <label>Cheque No</label>
                                                                            </div>
                                                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                                                <input type="number" class="form-control" id="cheque" name="cheque">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="control-label col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                                                <label>Bank Name</label>
                                                                            </div>
                                                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                                                <input type="text" class="form-control" id="bankName" name="bankName">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="control-label col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                                                <label id="paymentDate1" class="required">Cheque Date</label>
                                                                            </div>
                                                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                                                <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="9999-12-31" class="form-control" id="chequeDate" name="chequeDate">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="control-label col-lg-4  col-md-6 col-sm-12 col-xs-12">
                                                                                <label id="paymentRemark1" class="required">Remark</label>
                                                                            </div>
                                                                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                                                <input type="text" class="form-control" id="Remarks" name="Remarks">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <button type="button" id="paysave" class="btn btn-danger pull-right" data-dismiss="modal" style="font-size: 15px;margin-right: 15px;">
                                                                                Save
                                                                            </button>
                                                                            <button type="button" id="closeModal" class="btn btn-danger pull-right" data-dismiss="modal" style="font-size: 15px;margin-right: 15px;">
                                                                                Close
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Upload and Download-->
                                                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="custom-file">
                                                        <input type="file" id="file1" name="file" onchange="loadfile(event,'DoctorImage')" aria-label="File browser example" class="custom-file-input">
                                                        <input type="hidden" name="DoctorImage" id="DoctorImage">
                                                        <label class="custom-file-label" for="customFile">Upload File</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-primary panel-primary">
                                    <h2 class="panelheading">Product Information</h2>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="purchaseTable" class="table table-bordered hover display table-hover">
                                                <thead style="background-color: #bddff7;">
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Batch No.</th>
                                                        <th style="display:none">Details ID</th>
                                                        <th>HSN/SAC Code</th>
                                                        <th>Expiry</th>
                                                        <th> M. R. P. </th>
                                                        <th>Sales Rate</th>
                                                        <th>Purch. Rate</th>
                                                        <th>Qty.</th>
                                                        <th>GST</th>
                                                        <th>SGST</th>
                                                        <th>CGST</th>
                                                        <th>UTGST </th>
                                                        <th>Free Qty.</th>
                                                        <th>Disc. By</th>
                                                        <th>Disc. Type</th>
                                                        <th>Less By</th>
                                                        <th>Less Type</th>
                                                        <th>Total Amount</th>
                                                        <th style="display:none">Product ID</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                                <div class="btn-group dropdown-split-warning">
                                    <button type="submit" class="btn btn-app" id="save">
                                        <i class="fa fa-save"></i>Save
                                    </button>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" id="delete" onclick="Delete(document.getElementById('ProductPurchaseID').value); location.reload();">
                                        <i class="fa fa-trash"></i>Delete
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="location.reload();">
                                        <i class="fa fa-refresh"></i>Clear
                                    </a>
                                </div>
                                <div class="btn-group dropdown-split-warning">
                                    <a class="btn btn-app" onclick="window.location.href='@Url.Action("Pharmacy", "Application")'">
                                        <i class="fa fa-sign-out"></i>Exit
                                    </a>
                                </div>
                                @*<div class="btn-group dropdown-split-warning">
                                        <a class="btn btn-app" id="purchaseTableExcelExport"></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
