

@model KeystoneProject.Models.MISReport.MIS_PatientReports.ReportMISReferredWiseAnalyse


@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@*<!DOCTYPE html>
    <html>
    <head>
*@
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<style>
    @@media screen and (max-width: 867px) {

        .paddingleft {
            padding-left: 15px !important;
        }
    }



    label {
        display: block;
        margin-bottom: .5rem;
    }

    .checkbox .cr, .radio .cr {
        position: relative;
        display: inline-block;
        border: 2px solid #98a5ad;
        border-radius: 1px;
        width: 20px;
        height: 20px;
        float: left;
        margin-right: .5em;
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }


    .glyphicon-ok:before {
        content: "\e013";
        padding-right: -10px;
        margin-left: -1px;
        color: #5f6365;
    }

    .radio .cr {
        border-radius: 50%;
    }

    .checkbox, .radio {
        position: relative;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

        .checkbox label input[type="checkbox"],
        .radio label input[type="radio"] {
            display: none;
        }

            .checkbox label input[type="checkbox"] + .cr > .cr-icon,
            .radio label input[type="radio"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
            .radio label input[type="radio"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }

            .checkbox label input[type="checkbox"]:disabled + .cr,
            .radio label input[type="radio"]:disabled + .cr {
                opacity: .5;
            }

    .colname {
    }
</style>
<style>
    #multiselect, #multiselectMonth {
        background: white !important;
        height: 150px !important;
        overflow: scroll !important;
        z-index: 100000 !important;
        position: absolute;
    }


    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 500 !important;
        font-family: roboto;
        display: block;
    }

    table.dataTable tbody tr:hover {
        background-color: #ebf1f6;
        cursor: pointer !important;
    }


    th:nth-child(1) {
        width: 45px !important;
        text-align: left;
        padding-left: 10px !important;
    }

    #deptID_wrapper {
        overflow: auto;
        width: 100%;
    }

    .exportExcel {
        padding: 4px !important;
        font-family: roboto !important;
    }

    select {
        border: 1px solid #d9d8d8 !important;
        border-radius: 3px !important;
        padding: 2px;
    }


    table.dataTable.no-footer {
        border-bottom: 1px solid #111;
        border: 1px solid #bddff7 !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        border: 1px solid #d9d8d8 !important;
        border-radius: 3px !important;
    }

    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 500 !important;
        font-family: roboto;
    }

    .dataTables_info {
        padding: 4.5px !important;
        border: 2px solid white !important;
        font-family: roboto;
        border-right: 0px solid red !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        display: table;
        font-family: roboto;
        border-left: 0px solid red !important;
        border: 1px solid rgba(0,0,0,.125) !important;
        border-radius: .25rem;
        padding-top: 0em !important;
        margin-top: 5px;
    }

    element.style {
        width: 383px;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    table.dataTable thead .sorting_asc {
        background-image: url(../images/sort_asc.png);
    }

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        cursor: pointer;
        *cursor: hand;
        background-repeat: no-repeat;
        background-position: center right;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #111;
    }

    table.dataTable thead th, table.dataTable tfoot th {
        font-weight: bold;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #fff !important;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        background: #bddff7;
        font-size: 16px;
        font-weight: 500 !important;
    }


    .dataTables_wrapper {
        border: 1px solid #d0e6f6;
        padding: 5px;
    }

    table .dataTable.no-footer {
        border-bottom: 1px solid #111;
        border: 1px solid #bddff7 !important;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #fff !important;
    }

    table .dataTable.no-footer {
        border-bottom: 1px solid #111;
        border: 1px solid #bddff7;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 10px;
        border-right: 1px solid #bddff7;
        border-top: 1px solid #bddff7;
        padding-left: 20px !important;
    }

    .table > tbody + tbody {
        border-top: 2px solid #ddd;
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 8px 8px 8px 8px !important;
        margin-left: 0px !important;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        *cursor: hand;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 0px !important;
        float: left;
        text-decoration: none;
        transition: background-color .3s !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        line-height: 21px !important;
        border-right: 1px solid #dfdfdf !important;
        border-radius: 0px !important;
    }

    .paginate_button current {
        color: #ffffff !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #35a4f1 !important;
        color: #ffffff !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: #ffffff !important;
    }




    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.3em .9em !important;
    }

    .paginate_button last {
        border-right: 0px solid red !important;
    }
</style>
<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 10px;
        border-right: 1px solid #bddff7;
        border-top: 1px solid #bddff7;
        padding-left: 20px !important;
    }

    .table-bordered > tbody > tr > td {
        border: 0px solid #e1eff9;
    }

    td {
        border-right: 1px solid #bddff7;
        border-top: 1px solid #bddff7;
        padding-left: 20px !important;
    }

    table.dataTable tbody tr:hover {
        background-color: #ebf1f6;
        cursor: pointer !important;
    }


    th:nth-child(1) {
        width: 45px !important;
        text-align: left;
        padding-left: 10px !important;
    }

    #deptID_wrapper {
        overflow: auto;
        width: 100%;
    }

    .exportExcel {
        padding: 4px !important;
        font-family: roboto !important;
    }

    select {
        border: 1px solid #d9d8d8 !important;
        border-radius: 3px !important;
        padding: 2px;
    }


    table.dataTable.no-footer {
        border-bottom: 1px solid #111;
        border: 1px solid #bddff7 !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        border: 1px solid #d9d8d8 !important;
        border-radius: 3px !important;
    }

    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 500 !important;
        font-family: roboto;
    }

    .dataTables_info {
        padding: 4.5px !important;
        border: 2px solid white !important;
        font-family: roboto;
        border-right: 0px solid red !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        display: table;
        font-family: roboto;
        border-left: 0px solid red !important;
        border: 1px solid rgba(0,0,0,.125) !important;
        border-radius: .25rem;
        padding-top: 0em !important;
        margin-top: 5px;
    }

    element.style {
        width: 383px;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    table.dataTable thead .sorting_asc {
        background-image: url(../images/sort_asc.png);
    }

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        cursor: pointer;
        *cursor: hand;
        background-repeat: no-repeat;
        background-position: center right;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #111;
    }

    table.dataTable thead th, table.dataTable tfoot th {
        font-weight: bold;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #fff !important;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        background: #bddff7;
        font-size: 16px;
        font-weight: 500 !important;
    }


    .dataTables_wrapper {
        border: 1px solid #d0e6f6;
        padding: 5px;
        text-align: left;
    }

    @@media screen and (max-width: 767px) {

        .dataTables_wrapper {
            width: max-content;
        }
    }

    @@media screen and (max-width: 767px) {

        .dataTables_wrapper .dataTables_filter {
            text-align: left !important;
        }
    }

    @@media screen and (max-width: 767px) {

        .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
            text-align: left !important;
        }
    }

    @@media screen and (max-width: 767px) {

        div.dt-buttons {
            text-align: left !important;
        }
    }

    table .dataTable.no-footer {
        border-bottom: 1px solid #111;
        border: 1px solid #bddff7 !important;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #fff !important;
    }

    table .dataTable.no-footer {
        border-bottom: 1px solid #111;
        border: 1px solid #bddff7;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 10px;
        border-right: 1px solid #bddff7;
        border-top: 1px solid #bddff7;
        padding-left: 20px !important;
    }

    .table > tbody + tbody {
        border-top: 2px solid #ddd;
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 8px 8px 8px 8px !important;
        margin-left: 0px !important;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        *cursor: hand;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 0px !important;
        float: left;
        text-decoration: none;
        transition: background-color .3s !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        line-height: 21px !important;
        border-right: 1px solid #dfdfdf !important;
        border-radius: 0px !important;
    }

    .paginate_button current {
        color: #ffffff !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #35a4f1 !important;
        color: #ffffff !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: #ffffff !important;
    }




    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.3em .9em !important;
    }

    .paginate_button last {
        border-right: 0px solid red !important;
    }
</style>
<style>
    input[type=file] {
        display: block;
        background: #ffffff;
        padding: 0px 2px 0px 0px;
        color: #868f95 !important;
        font-family: roboto;
    }

    .btn-group {
        margin-bottom: 4px;
    }

    .btn {
        padding: 0px;
    }

    .padding0 {
        padding: 0px;
    }

    .btndivcss:hover {
        color: #fff;
        background-color: #03578e;
        border-color: #106dca;
    }

    .btndivcss {
        height: 30px;
        border: 0px solid white;
        padding: 0px 6px 0px 0px !important;
        font-family: roboto;
        border-color: #35a4f1;
        box-shadow: 0 1px 1px rgba(0,0,0,.075);
        color: #ffffff;
        background-color: #35a4f1;
        border-radius: 4px;
    }


    .btndivcss1 {
        height: 30px;
        border: 0px solid white;
        padding: 0px 0px 0px 0px !important;
        font-family: roboto;
        border-color: #35a4f1;
        box-shadow: 0 1px 1px rgba(0,0,0,.075);
        color: #ffffff;
        background-color: #35a4f1;
        border-radius: 4px;
    }

    .buttoniconcss {
        background: #106dca;
        padding: 8px;
        border-radius: 4px 0px 0px 4px;
        margin-right: 5px;
    }

    .buttoniconcss1 {
        background: #106dca;
        padding: 8px;
        border-radius: 4px 4px 4px 4px;
        margin-right: 0px;
    }

    #datatable-responsive_wrapper {
        background: #ffffff;
    }

    input {
        border: 1px solid #ccc;
        border-radius: 1px;
        padding: 3px;
    }



    .scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #35a4f1;
        border-radius: 23px;
    }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .pagination {
        margin: 0px 0;
    }

    .pagination {
        display: inline-block;
        border-radius: 4px;
    }

        .pagination a {
            color: #35a4f1;
            float: left;
            padding: 1px 8px;
            text-decoration: none;
            transition: background-color .3s;
            font-size: 14px;
            border-radius: 4px;
            line-height: 21px;
        }

            .pagination a.active {
                background-color: #35a4f1;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }



    .btn-group {
        padding-right: 4px;
    }

    .tableheading {
        color: #4c6588;
        font-family: roboto;
        padding-left: 1px;
        font-size: 17px;
        padding-top: 5px;
    }

    .topheadline {
        background: white;
        padding: 3px;
        color: #1e2123;
        box-shadow: 1px 1px 11px 1px #cecece;
        font-family: roboto;
        padding-left: 12px;
        font-size: 19px;
        margin-top: 0px;
    }

    .panelheading {
        background: rgb(189, 223, 247);
        color: #22292d;
        font-family: roboto;
        font-size: 15px;
        padding: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-primary {
        border: 1px solid #dadada;
        border-radius: 4px;
        box-shadow: 1px 1px 11px 1px #eae4e4;
        background: #ffffff;
    }

    .content-wrapper {
        background: #F6F7FB !important;
    }

    span {
        font-family: roboto;
        font-size: 14px;
    }

    .rowmargintop {
        margin-top: 5px;
    }

    .form-control {
        height: 26px;
        padding: 1px 1px 1px 6px;
    }

    .content-header {
        padding: 0px .5rem;
    }

    .rowmarginbottom {
        margin-bottom: 4px;
    }

    th {
        font-family: roboto;
        font-size: 15px;
        font-weight: 500;
        background: #e6e5e5;
        padding: 4px !important;
        text-align: center;
        background-image: linear-gradient(#bcdcf3, #ffffff, #c6e1f4);
    }

    td {
        font-family: roboto;
        font-size: 14px;
        font-weight: 400;
        padding: 4px !important;
    }

    .table {
        background: #ffffff;
        border-radius: 4px;
        border-collapse: inherit;
        margin-bottom: 3px;
    }

    .btn-warning {
        color: #ffffff;
        background-color: #35a4f1;
        border-color: #35a4f1;
        box-shadow: 0 1px 1px rgba(0,0,0,.075);
        font-family: roboto;
    }
</style>
<style>
    .btn-primary {
        background-color: #35a4f1 !important;
        color: #fff;
        border: 1px solid #35a4f1;
    }

    .file-field input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }

    tr.highlighted td {
        background: #35a4f1;
        color: white;
    }
</style>
@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["msg"])));
        window.onload(true);
        Restor();
    </script>
}

<script>
    $(document).ready(function () {
        $("#").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#TableTPA tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    });
</script>

<script>
    $(document).ready(function () {
        $('#TableTPA').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excel',
                text: 'Excel',
                className: 'exportExcel',
                filename: 'Test_Excel',
                exportOptions: { modifier: { page: 'all' } }
            },
            {
                extend: 'csv',
                text: 'CSV',
                className: 'exportExcel',
                filename: 'Test_Csv',
                exportOptions: { modifier: { page: 'all' } }
            },
            {
                extend: 'pdf',
                text: 'PDF',
                className: 'exportExcel',
                filename: 'Test_Pdf',
                exportOptions: { modifier: { page: 'all' } }
            }]
        });
    })
</script>
<script>
    $(document).ready(function () {
        debugger

        $("#ReffDr").autocomplete({
            source: function (request, response) {
                $.ajax({

                    url: '@Url.Action("ReffDoctor", "ReportMISReferredWiseAnalyse")',
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.ReffDoctor, value: item.ReffDoctor, id: item.DoctorID
                            };
                        }))
                    }
                })
            },
            minLength: 1,
            change: function (event, ui) {
                if (!ui.item) {
                    this.value = "";
                }
            },
            select: function (event, i) {
                $('#ReffDrID').val(i.item.id);
            },
        });
    
        $('#View').on('click', function () {
            debugger
            $("#ReportTPA").show();

        var DoctorID = $("#ReffDrID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReportMISReffDoctorWiseAnalyse", "ReportMISReferredWiseAnalyse")',
            data: { DateFrom: $("#FromDate").val(), DateTo: $("#ToDate").val(), PatientType: $("#PatientType").val(), DoctorID: $("#ReffDrID").val() },
            dataType: "json",
            success: function (data) {
                debugger
                $("#TableTPA tbody tr").remove();

                    $.each(data, function (i, obd) {

                        $("#TableTPA tbody").append('<tr><td>' + obd.ReffDoctor + '</td><td>' + obd.RegNo + '</td><td>' + obd.PatientName + '</td><td>' + obd.PatientType + '</td><td>' + obd.MobileNo + '</td><td>' + obd.Address + '</td></tr>')


                });

            },
        });
        })

        $("#ReportTPA").click(function () {
            debugger
            window.open('@Url.Action("RptReportMISReffDoctorWiseAnalyse", "ReportMISReferredWiseAnalyse")');

        })
    })
</script>
@*<script>
    $(document).ready(function () {




        $("#View").click(function () {
            $("#ReportTPA").show();
            $("#Table").hide();
            $("#Close").hide();
            // alert("abc");
            $('#TableTPA').show();

            //var ID = $("#TestID").val();

            //if (ID == "") {
            //    ID = "0";
            //}
            //else {
            //    ID = $("#TestID").val();
            //}
            //alert(ID);
            debugger
            $.ajax({

                url: '@Url.Action("GetReportMISPatientAccountStatus", "ReportMISTPAPatientAccountStatus")',
                type: "GET",
                data: { FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), PatientType: $('#PatientType').val() },
                dataType: "json",
                success: function (data) {

                    $("#TableTPA tbody tr").remove();
                    var table = "";
                    // alert("msg");
                    var tr = "";
                    $(data).each(function (index, d) {
                        debugger;



                        //var SrNo = d + 1;
                        if ($('#PatientType').val() == "OPD") {
                            if ($("#Bal").val() == "Balanced") {
                                if (d.BalanceAmt != 0.00) {
                                    $("#TableTPA tbody").append('<tr><td>' + d.PatientReg + '</td><td>' + d.PatientName + '</td><td>' + d.PatientType + '</td><td >' + d.OPDIPDID + '</td><td>' + d.OrganizationName + '</td><td  style="display:none"></td><td  style="display:none"></td><td>' + d.TPA + '</td><td>' + d.BillAmount + '</td><td style="display:none"></td><td  style="display:none"></td><td>' + d.DiscountAmt + '</td><td>' + d.PaidAmt + '</td><td>' + d.BalanceAmt + '</td></tr>');

                                }

                            }
                            else {
                                $("#TableTPA tbody").append('<tr><td>' + d.PatientReg + '</td><td>' + d.PatientName + '</td><td>' + d.PatientType + '</td><td >' + d.OPDIPDID + '</td><td>' + d.OrganizationName + '</td><td  style="display:none"></td><td  style="display:none"></td><td>' + d.TPA + '</td><td>' + d.BillAmount + '</td><td style="display:none"></td><td  style="display:none"></td><td>' + d.DiscountAmt + '</td><td>' + d.PaidAmt + '</td><td>' + d.BalanceAmt + '</td></tr>');

                            }



                            $("#TableTypeOPD").show();
                            $("#TableTypeIPD").hide();

                        }

                        else {
                            if ($("#Bal").val() == "Balanced") {
                                if (d.BalanceAmt != 0.00) {
                                    $("#TableTPA tbody").append('<tr><td>' + d.PatientReg + '</td><td>' + d.PatientName + '</td><td>' + d.PatientType + '</td><td >' + d.OPDIPDID + '</td><td>' + d.OrganizationName + '</td><td>' + d.AddmissionDate + '</td><td>' + d.DischargeDate + '</td><td>' + d.TPA + '</td><td>' + d.BillAmount + '</td><td>' + d.TDSAmt + '</td><td>' + d.TPAOtherDeduction + '</td><td>' + d.DiscountAmt + '</td><td>' + d.PaidAmt + '</td><td>' + d.BalanceAmt + '</td></tr>');

                                }
                            }
                            else {
                                $("#TableTPA tbody").append('<tr><td>' + d.PatientReg + '</td><td>' + d.PatientName + '</td><td>' + d.PatientType + '</td><td >' + d.OPDIPDID + '</td><td>' + d.OrganizationName + '</td><td>' + d.AddmissionDate + '</td><td>' + d.DischargeDate + '</td><td>' + d.TPA + '</td><td>' + d.BillAmount + '</td><td>' + d.TDSAmt + '</td><td>' + d.TPAOtherDeduction + '</td><td>' + d.DiscountAmt + '</td><td>' + d.PaidAmt + '</td><td>' + d.BalanceAmt + '</td></tr>');

                            }

                            //tr += '<tr><td style="width:60px !important">' + data[d].PatientReg + '</td><td>' + data[d].PatientName + '</td><td>' + data[d].PatientType + '</td><td >' + data[d].OPDIPDID + '</td><td>' + data[d].OrganizationName + '</td><td>' + data[d].AddmissionDate + '</td><td>' + data[d].DischargeDate + '</td><td>' + data[d].TPA + '</td><td>' + data[d].BillAmount + '</td><td>' + data[d].TDSAmt + '</td><td>' + data[d].TPAOtherDeduction + '</td><td>' + data[d].DiscountAmt + '</td><td>' + data[d].PaidAmt + '</td><td>' + data[d].BalanceAmt + '</td></tr>';

                            $("#TableTypeOPD").hide();
                            $("#TableTypeIPD").show();
                        }


                        $("#Billamt").val(d.BillAmt1);
                        $("#DisAmt").val(d.DisAmt1);
                        $("#PaidAmt").val(d.PaidAmt1);
                        $("#BalnAmt").val(d.BalAmt1);
                    });
                    //});
                    debugger
                    var len = $("#TableTPA tbody tr").length;
                    for (var row1 = 0; row1 < len; row1++) {
                        var BalanceAmt = document.getElementById("TableTPA").tBodies[0].rows[row1].cells[13].innerHTML;
                        if (BalanceAmt <= 0) {
                            document.getElementById("TableTPA").tBodies[0].rows[row1].style.color = "#4B0082";
                            //  document.getElementById('datatable-responsive3').tBodies[0].rows[row1].cells[1].children[0].style.backgroundColor = "pink";
                        }
                    }


                },
                error: function (data) {
                },



            });
        })
        $("#Close").click(function () {
            $("#Table").hide();
            $('#TableTPA').show();
            $("#Close").hide();
            $("#ReportTPA").show();
            $("#ReportTPAINDETAIL").hide();
        })
        var Patreg = "";
        var tpaname = "";
        var pattype = "";
        $("#TableTPA").delegate('td', 'click', function () {
            debugger

            $("#ReportTPAINDETAIL").show();
            $('#TableTPA').hide();
            $("#ReportTPA").hide();
            $("#Table").show();
            $("#Close").show();
            //var row = $("#TableTPA td").closest("tr").length;
            var row_num = parseInt($(this).parent().index());
            Patreg = parseInt(document.getElementById("TableTPA").tBodies[0].rows[row_num].cells[0].innerHTML);
            pattype = document.getElementById("TableTPA").tBodies[0].rows[row_num].cells[2].innerHTML;
            tpaname = document.getElementById("TableTPA").tBodies[0].rows[row_num].cells[4].innerHTML;
            // var Type =;
            // alert(Patreg); alert(pattype); alert(tpaname);
            $.ajax({


                type: "GET",
                url: '@Url.Action("GetReportMISTPAPatientAccountStatus", "ReportMISTPAPatientAccountStatus")',
                data: { FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), Patreg: Patreg, pattype: pattype, TPAType: "DETAILS" },
                dataType: "json",
                success: function (data) {
                    debugger
                    $("#Table tbody tr").remove();
                    $.each(data, function (i, obd) {
                        //alert(obd.DepartmentName);
                        $("#Table tbody").append('<tr><td >' + obd.PatientName + '</td><td >' + obd.PatientType + '</td><td >' + obd.BillType + '</td><td >' + obd.Particular + '</td><td >' + obd.BillAmount + '</td><td >' + obd.PaidAmt + '</td><td >' + obd.TPA + '</td></tr>');

                    });


                },


            });
            //var row = parseInt($(this).closest('tr').index());
            //alert(row_num);

        });
        var a = "";
        $("#ReportTPA").click(function () {
            debugger
            a = "TPA";
            //var b = $("#FromDate").val();
            //var c = $('#PatientType').val();
            window.open('@Url.Action("RptReportMISTPAWisePatientAccountStatus", "ReportMISTPAPatientAccountStatus")?Date=' + $("#FromDate").val() + '&DateTo=' + $("#ToDate").val() + '&Type=' + $("#PatientType").val() + '&a=' + a);
        });
        $("#ReportTPAINDETAIL").click(function () {
            debugger
            a = "TPADETAIL";
            window.open('@Url.Action("RptReportMISTPAWisePatientAccountStatus", "ReportMISTPAPatientAccountStatus")?Date=' + $("#FromDate").val() + '&DateTo=' + $("#ToDate").val() + '&RegNo=' + Patreg + '&Type=' + pattype + '&TPAType=' + tpaname + '&a=' + a);
        })
    });
</script>*@












<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <form action="" method="post">

            <div class="content-wrapper">

                <h5 class="topheadline">Report MIS Referred Wise Analyse</h5>


                <section class="content-header">
                    <div class="container-fluid">


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel-primary">

                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #bddff7;">
                                                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-4 padding0">
                                                    <h2 class="panelheading">Report MIS Referred Wise Analyse</h2>

                                                </div>

                                            </div>
                                        </div>

                                        <div class="pane-body">

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  rowmargintop" style="padding: 0px 0px 0px 5px;">

                                                    <div class="col-lg-3">
                                                        <div class="col-lg-4">
                                                            <span>From Date</span>


                                                        </div>
                                                        <div class="col-lg-8">

                                                            <input type="date" id="FromDate" name="FromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control input-sm" style="width:150px" />


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="col-lg-4">
                                                            <span style="width:100px">To Date</span>


                                                        </div>
                                                        <div class="col-lg-8">
                                                            <input type="date" id="ToDate" name="ToDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control input-sm" style="width:150px" />
                                                         </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="col-lg-4">
                                                            <span style="width:100px">PatientType</span>


                                                        </div>
                                                        <div class="col-lg-6">
                                                            <select name="PatientType" id="PatientType" class=" form-control input-sm">
                                                                <option value="All">All</option>
                                                                <option value="IPD">IPD</option>
                                                                <option value="OPD">OPD</option>
                                                            </select>
                                                        </div>
                                                       

                                                    </div>

                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="col-lg-4">
                                                        <span>Refferred Doctor</span>

                                                    </div>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="ReffDr" name="ReffDr" />
                                                        <input type="hidden" id="ReffDrID" name="ReffDrID"></div>
                                                </div>
                                            </div>
                                            


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:6px">

                                        <div class="row">
                                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="panel-primary">
                                                    <h2 class="panelheading">Report MIS Referred Wise Analyse</h2>

                                                    <div class="pane-body">

                                                        <div class="row">


                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-r-5" style=" padding-top: 10px;overflow:auto">

                                                                <button style="display:none" type="button" id="ReportTPA"><span>Report</span></button>
                                                                <table id="TableTPA" class="table table-bordered table-striped" style="display:">
                                                                   
                                                                        <thead>
                                                                            <tr role="row">
                                                                                <th class="sorting" aria-controls="datatable-responsive"
                                                                                    rowspan="1" colspan="1">
                                                                                    Reffered Dr
                                                                                </th>
                                                                                <th class="sorting" aria-controls="datatable-responsive"
                                                                                    rowspan="1" colspan="1">
                                                                                    UHID No.
                                                                                </th>
                                                                                <th class="sorting" aria-controls="datatable-responsive"
                                                                                    rowspan="1" colspan="1">
                                                                                    PatientName
                                                                                </th>
                                                                                <th class="sorting" aria-controls="datatable-responsive"
                                                                                    rowspan="1" colspan="1">
                                                                                    Patient Type
                                                                                </th>
                                                                                <th class="sorting" aria-controls="datatable-responsive"
                                                                                    rowspan="1" colspan="1">
                                                                                    MobileNo
                                                                                </th>
                                                                                <th class="sorting" aria-controls="datatable-responsive"
                                                                                    rowspan="1" colspan="1">
                                                                                    Address
                                                                                </th>
                                                                            </tr>

                                                                        </thead>
                                                                        <tbody id="presentors"></tbody>
                                                                   
                                                                   
                                                                </table>
                                                          
                                                            </div>



                                                        </div>

                                                       


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row rowmargintop" style="border: 1px solid #e9ecef; background: #ffffff; padding-top: 5px;">


                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align: center; display: block;">
                                                    <div class="btn-group dropdown-split-warning">

                                                        <button type="button" id="View" class="btndivcss"><span class="fa fa-save buttoniconcss"></span>View</button>


                                                    </div>
                                                    @*<div class="btn-group dropdown-split-warning">

                                                            <button type="button" onclick="Delele(document.getElementById('DoctorID').value)" class="btndivcss"><span class="fa fa-trash buttoniconcss"></span>Delete</button>


                                                        </div>*@
                                                    <div class="btn-group dropdown-split-warning">

                                                        <button type="reset" onclick="window.location.relaod(true)" class="btndivcss"><span class="fa fa-refresh buttoniconcss"></span>Clear</button>


                                                    </div>
                                                    <div class="btn-group dropdown-split-warning">

                                                        <button type="button" onclick="location.href='@Url.Action("dashboard", "Home" )'" class="btndivcss"><span class="fa fa-sign-out buttoniconcss"></span>Exit</button>


                                                    </div>

                                                </div>










                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>

            </div>
        </form>
    </div>

</body>







